* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: fit-content;
}
body {
	background-color: #fff0ed;
	font-family: 'Barlow', sans-serif;
	color: #db0047;
}
main {
	height: auto;
}
p {
	font-weight: 700;
}
.container {
	display: grid;
	width: auto;
	height: 12.5rem;
	grid-template-columns: 3.75rem 3.75rem 3.75rem 3.75rem 3.75rem 1fr;
	grid-template-rows: 6.25rem 1fr 1fr 1fr;
}
img {
	width: 6.25rem;
}

.logo {
	position: relative;
	grid-column: -1;
	width: 15.625rem;
	height: 15.625rem;
	top: -4.375rem;
	margin-right: 1.875rem;
}
.logo-txt {
	position: relative;

	grid-column: -1;
	grid-row: 2;
	justify-self: center;
	font-size: 1.2rem;
	letter-spacing: 0.19rem;
	margin-right: 1.875rem;
	margin-bottom: 1.25rem;
	top: -0.9375rem;
	color: #db0047;
}

a:link {
	color: #db0047;
	font-family: 'Barlow', sans-serif;
	font-weight: bold;
	font-size: 1.0625rem;
	text-decoration: none;
}

.about:visited {
	color: #db0047;
}
.about {
	grid-column: -1;
	grid-row: 3;
	text-align: right;
	margin-right: 3.125rem;
	margin-bottom: 1.25rem;
	color: #db0047;
	z-index: 1;
	position: relative;
	top: -0.625rem;
}
.contact {
	grid-column: -1;
	grid-row: 4;
	text-align: right;
	margin-right: 3.125rem;
	color: #e12c65;
	position: relative;
	top: -1.5625rem;
}
.contact:visited {
	color: #e12c65;
}

.image-text {
	position: absolute;
	height: auto;
	transform: rotate(90deg);
	opacity: 0;
	color: #f28531;
}
.cam {
	position: relative;
	top: -0.3125rem;
}
.box {
	position: absolute;
	left: 2rem;
	top: 1.5rem;
	width: 2.25rem;
}

.box:hover {
	cursor: pointer;

	content: url('../SVG/box-clicked.png');
}
.o:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-29.svg');
}
.cam:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-30.svg');
}
.arrow:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-31.svg');
}
.sheets:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-32.svg');
}
.o-container:hover .image-text {
	animation: drop-down-o 0.3s ease-in forwards;
}
.cam-container:hover .image-text {
	animation: drop-down 0.3s ease-in forwards;
}
.arrow-container:hover .image-text {
	animation: drop-down 0.3s ease-in forwards;
}
.sheets-container:hover .image-text {
	animation: drop-down 0.3s ease-in forwards;
}
.box-container:hover .image-text {
	animation: drop-down 0.3s ease-in forwards;
}

.o-container:not(:hover) .image-text {
	animation: rise-up-o 0.3s ease-out forwards;
}
.cam-container:not(:hover) .image-text {
	animation: rise-up 0.3s ease-out forwards;
}
.arrow-container:not(:hover) .image-text {
	animation: rise-up 0.3s ease-out forwards;
}
.sheets-container:not(:hover) .image-text {
	animation: rise-up 0.3s ease-out forwards;
}
.box-container:not(:hover) .image-text {
	animation: rise-up 0.3s ease-out forwards;
}
@keyframes drop-down {
	0% {
		top: 6.5rem;
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 7.5rem;
		opacity: 1;
	}
}

@keyframes rise-up {
	0% {
		top: 7.5rem;
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 6.25rem;
		opacity: 0;
	}
}

@keyframes drop-down-o {
	0% {
		top: 6.5rem;
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 7rem;
		opacity: 1;
	}
}

@keyframes rise-up-o {
	0% {
		top: 7rem;
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 6.25rem;
		opacity: 0;
	}
}
.logos-text {
	font-size: 1.25rem;
}

.box-text {
	left: 0.1rem;
}
.o-text {
	left: 4rem;
}
.arrow-text {
	left: 11rem;
}
.sheets-text {
	left: 15rem;
}
.cam-text {
	left: 6.8rem;
}
/* change this text class and remove the image-text class from html to let the text stay and change the image in the html to the once colored orange */
.o-text {
	position: absolute;
	height: auto;
	transform: rotate(90deg);
	opacity: 1;
	color: #f28531;
	top: 6.8rem;
}

.logo:hover {
	cursor: pointer;
}

footer {
	position: relative;
	bottom: 0rem;
}
.footer {
	display: grid;
	justify-content: center;
	grid-template-columns: 6fr 6fr 1fr 1fr 1fr 6fr 6fr;
	grid-template-rows: 6rem 6rem;
	justify-items: center;
	align-items: center;
	width: auto;
}

.footer-text {
	position: relative;
	grid-column: 1/-1;
	grid-row: 1;
	color: #f28531;
	font-weight: 700;
	align-self: flex-end;
	bottom: -0.625rem;
	border-bottom: 0.1875rem solid #f28531;
	padding-bottom: 0.1875rem;
	text-transform: lowercase;
}
.insta {
	position: relative;
	grid-row: 2;
	grid-column: 3;
	left: 2.5rem;
	bottom: 0rem;
	width: 6.875rem;
	height: 6.875rem;
}

.be {
	grid-row: 2;
	grid-column: 4;
	width: 6.875rem;
	height: 6.875rem;
}

.mail {
	position: relative;
	grid-row: 2;
	grid-column: 5;
	left: -2.5rem;
	bottom: 0rem;
	width: 6.875rem;
	height: 6.875rem;
}

.uppercase {
	text-transform: uppercase;
}

.dots {
	width: 0.75rem;
	height: 0.75rem;
	border-radius: 50%;
	background-color: #db0047;
	margin: 0 0.3125rem;
	grid-row: 1;
	grid-column: 1/-1;
	position: relative;
	align-self: flex-end;
	bottom: -0.125rem;
	text-transform: lowercase;
}

.left-dot {
	left: -5.3125rem;
}

.right-dot {
	left: 5.3125rem;
}
/*  The above css is the template for all pages on this website */

/* Here we are starting designing the first section */

.section1 {
	display: grid;
	justify-content: center;
	position: relative;
	top: -6.25rem;
	height: 40.625rem;
	z-index: -1;
}

.outlaw-logo {
	width: 18.75rem;
	height: 6.25rem;
	position: relative;
	left: 28.125rem;
}

.o-img {
	width: 81.25rem;
	height: 40.625rem;
	position: relative;
	left: -1.875rem;
	top: -7.5rem;
}

.two-girls-img {
	width: 18.75rem;
	height: 37.5rem;
	position: relative;
	top: -43.75rem;
	left: 53.125rem;
}

.hors-la-loi {
	width: 31.25rem;
	height: 2.1875rem;
	position: relative;
	top: -46.875rem;
	left: -7.1875rem;
}

/* section 2 */
.section2 {
	display: grid;
	justify-content: center;
}
.big-circle {
	width: 75rem;
	height: 75rem;
	border-radius: 50%;
	border: 0.125rem solid #db0047;
	position: relative;
	display: grid;
	text-align: center;
	grid-template-columns: 21.25rem 21.25rem 21.25rem;
	grid-template-rows: 8.75rem 21.25rem 21.25rem 21.25rem;
	gap: 1.25rem;
	justify-content: center;
}

.section2-header {
	position: relative;
	font-size: 3.375rem;
	font-weight: 300;
	grid-row: 1;
	grid-column: 1/-1;
	align-self: end;
}
.grid-img {
	width: 100%;
	height: 100%;
	justify-self: center;
	border: 0.125rem solid #db0047;
}
.img1 {
	grid-column: 1;
	grid-row: 2;
	justify-self: end;
}
.img2 {
	grid-column: 2;
	grid-row: 2;
}
.img3 {
	grid-column: 3;
	grid-row: 2;
	justify-self: start;
}
.img4 {
	grid-column: 1;
	grid-row: 3;
	justify-self: end;
}
.img5 {
	grid-column: 2;
	grid-row: 3;
}
.img6 {
	grid-column: 3;
	grid-row: 3;
	justify-self: start;
}
.img7 {
	grid-column: 1;
	grid-row: 4;
	justify-self: end;
}
.img8 {
	grid-column: 2;
	grid-row: 4;
}
.img9 {
	grid-column: 3;
	grid-row: 4;
	justify-self: start;
}

/* Section 3 */

.section3-div {
	display: grid;
	grid-template-rows: 11.25rem 31.25rem 31.25rem;
	grid-template-columns: 12.5rem 1fr 1fr 1fr 1fr 1fr;
	row-gap: 2.5rem;
}
.child1 {
	grid-row: 1;
	grid-column: 1/-1;
	font-size: 3.375rem;
	font-weight: 300;
	justify-self: center;
	align-self: end;
}
.child2 {
	grid-row: 2;
	grid-column: 1/-1;
	width: 100%;
	height: 100%;
	position: relative;
	top: -1.25rem;
}
.child3 {
	grid-row: 3;
	grid-column: 1;
	width: 110%;
	height: 110%;
}
.child4 {
	grid-row: 3;
	grid-column: 2;
	width: 210%;
	height: 110%;
	position: relative;
	left: -3.75rem;
}
.child5 {
	grid-row: 3;
	grid-column: 3;
	width: 220%;
	height: 124%;
	position: relative;
	z-index: -1;
	left: -6.875rem;
	top: -7%;
}
.child6 {
	grid-row: 3;
	grid-column: 4;
	width: 170%;
	height: 110%;
	position: relative;
	left: -8.75rem;
}
.child7 {
	grid-row: 3;
	grid-column: 5;
	width: 120%;
	height: 110%;
	position: relative;
	left: -7.5rem;
	z-index: 2;
}
.child8 {
	grid-row: 3;
	grid-column: 6;
	width: 140%;
	height: 115%;
	position: relative;
	left: -10rem;
}

/* Section 4 */
.section4 {
	margin-top: 12rem;
	position: relative;
	height: 102rem;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	align-content: center;
	justify-content: center;
}

.outlaw-box {
	position: relative;
	width: 40rem;
	height: 50rem;
	display: inline;
	grid-row: 1/3;
	grid-column: 1/2;
	justify-self: center;
}
.outlaw-hors-la-loi {
	width: 21.875rem;
	height: 12.5rem;
	position: relative;

	grid-row: 1/2;
	grid-column: 2/3;

	align-self: center;
}

.outlaws-color-palette {
	width: 15rem;
	height: 15rem;
	position: relative;
	grid-row: 2/3;
	grid-column: 2/3;
	margin-left: 3rem;
	top: -0%;
}

.outlaw-tag {
	position: relative;

	width: 18.75rem;
	height: 37.5rem;
	grid-row: 3/4;
	grid-column: 1/2;
	justify-self: center;
	top: -40%;
}

/* Circle of section 4 */

.big-circle1 {
	width: 34.375rem;
	height: 34.375rem;
	border-radius: 50%;
	border: 0.125rem solid #db0047;
	position: relative;
	grid-row: 3/4;
	grid-column: 2/3;
	top: -40%;
}

.checkout {
	font-size: 2.875rem;
	font-weight: 300;
	position: relative;
	text-align: center;
	top: 5rem;
}

.animation-div1 {
	display: inline-block;
	width: 12.3125rem;
	height: 12.3125rem;
	position: relative;
	top: 9.375rem;
	left: 2.5rem;
}
.animation-div2 {
	display: inline-block;
	width: 12.3125rem;
	height: 12.3125rem;
	position: relative;
	top: 9.375rem;
	left: 6.25rem;
}
.white-circle1 {
	width: 12.5rem;
	height: 12.5rem;
	border-radius: 50%;
	border: 0.125rem solid #db0047;
	position: relative;
	top: -2.5rem;
}

.red-circle1 {
	width: 13.125rem;
	height: 13.125rem;
	border-radius: 50%;
	border: 0.125rem solid #db0047;
	background-color: #db0047;
	position: relative;
	z-index: -1;
	top: -14.375rem;
	left: -0.25rem;
}

.white-circle2 {
	width: 12.5rem;
	height: 12.5rem;
	border-radius: 50%;
	border: 0.125rem solid #db0047;
	background-color: white;
	position: relative;
	top: -2.5rem;
}

.red-circle2 {
	width: 13.125rem;
	height: 13.125rem;
	border-radius: 50%;
	border: 0.125rem solid #db0047;
	background-color: #db0047;
	position: relative;
	top: -14.375rem;
	left: -0.25rem;
	z-index: -1;
}

.lofi-logo1 {
	width: 12.3125rem;
	height: 12.3125rem;
	border-radius: 50%;
}

.lara-logo1 {
	width: 12.3125rem;
	height: 12.3125rem;
}

@keyframes white-circle-up {
	0% {
		top: -1.25rem;
	}
	100% {
		top: -2.5rem;
	}
}

@keyframes white-circle-down {
	0% {
		top: -2.5rem;
	}
	100% {
		top: -1.25rem;
	}
}

@keyframes red-circle-up {
	0% {
		top: -14.375rem;
	}
	100% {
		top: -16.5625rem;
	}
}

@keyframes red-circle-down {
	0% {
		top: -16.5625rem;
	}
	100% {
		top: -14.375rem;
	}
}

.animation-div1:hover .white-circle1 {
	animation: white-circle-down 0.2s ease-in forwards;
}

.animation-div1:not(:hover) .white-circle1 {
	animation: white-circle-up 0.2s ease-in forwards;
}

.animation-div2:hover .white-circle2 {
	animation: white-circle-down 0.2s ease-in forwards;
}

.animation-div2:not(:hover) .white-circle2 {
	animation: white-circle-up 0.2s ease-in forwards;
}

/* This part is for the red circes */
.animation-div1:hover .red-circle1 {
	animation: red-circle-up 0.2s ease-in forwards;
}

.animation-div1:not(:hover) .red-circle1 {
	animation: red-circle-down 0.2s ease-in forwards;
}

.animation-div2:hover .red-circle2 {
	animation: red-circle-up 0.2s ease-in forwards;
}

.animation-div2:not(:hover) .red-circle2 {
	animation: red-circle-down 0.2s ease-in forwards;
}

@media (max-width: 65.3125em) {
	html {
		font-size: 14px;
	}
}

@media (max-width: 63.0625em) {
	.outlaws-color-palette {
		justify-self: center;
		top: -5rem;
	}
	.outlaw-hors-la-loi {
		justify-self: center;
	}
	.outlaw-box {
		left: 5rem;
	}
	.outlaw-tag {
		justify-self: center;
		left: 5rem;
	}
	.o-img {
		width: 75rem;
	}
	.big-circle {
		width: 100vw;
	}
	html {
		font-size: 12px;
	}
}

@media (max-width: 56.25em) {
	.big-circle1 {
		left: -10%;
	}
}
