/***************************************************************************************************************************************/
/**************************************************************************************************************************************/
/**********************************************     Mobile version under 700px     ***************************************************/
.mobile-top {
	display: none;
}
.mobile-container {
	display: none;
}
.section5 {
	display: none;
}
.mob-link-sec {
	display: none;
}
.mob-bot {
	display: none;
}

@media (max-width: 41em) {
	html,
	body {
		overflow: auto;
		overflow-y: scroll;
		font-size: 11px;
	}
	.mobile-container {
		display: inline-block;
	}
	.container {
		display: none; /* This is to remvove the navbar used for the normal application */
	}
	.container1 {
		flex-wrap: wrap;
	}
	.div1 {
		display: none;
	}
	.div2 {
		display: none;
	}
	.div2-text {
		display: none;
	}
	.div3 {
		display: none;
	}
	.div4 {
		display: none;
	}
	.div5 {
		display: none;
	}
	.div6 {
		display: none;
	}
	.div3-text {
		display: none;
	}
	.section4 {
		display: none;
	}
	.logo {
		width: 15.625rem;
		height: 15.625rem;
		grid-row: 1/2;
		grid-column: 1/2;
		align-self: flex-start;
		position: relative;
		top: -35%;
		left: 5%;
	}
	.logo-txt {
		position: relative;
		justify-self: center;
		font-size: 1.25rem;
		letter-spacing: 0.18rem;
		color: #db0047;
		grid-row: 2/3;
		grid-column: 1/2;
		justify-self: baseline;
		position: relative;
		left: 10%;
		top: -145%;
	}
	.about:visited {
		color: #db0047;
	}
	.mobile-about {
		color: #db0047;
		z-index: 1;
		grid-row: 1/2;
		grid-column: 2/3;
		justify-self: center;
		position: relative;
		top: 5%;
		font-weight: 700;
		font-size: 2rem;
	}
	.contact {
		color: #e12c65;
		grid-row: 1/2;
		grid-column: 3/4;
		justify-self: flex-end;
		position: relative;
		top: 5%;
		font-weight: 700;
		font-size: 2rem;
	}
	.contact:visited {
		color: #e12c65;
	}

	.mobile-top {
		display: grid;
		grid-template-columns: 2fr 1fr 1fr;
		grid-template-rows: 2fr 1fr;
	}
	.footer {
		bottom: 0;
	}

	main {
		height: 580rem;
		position: relative;
		top: -40rem;
	}

	/* Sidebar */
	.mobile-container {
		position: relative;
		top: -15rem;
	}
	.sidebar {
		width: 200px;
		background-color: #fff0ed;
		padding: 10px;
		height: 300px;
		overflow: hidden;
	}

	.dots1 {
		display: flex;
		justify-content: center;
		z-index: 3;
		width: 60px;
		height: 60px;
		position: relative;
	}

	.dot {
		width: 10px;
		height: 10px;
		background-color: #db0047;
		border-radius: 50%;
		margin: 0 2px;
		cursor: pointer;
		position: relative;
		top: 50%;
	}

	.links {
		display: flex;
		flex-direction: column;
		gap: 5px;
		position: relative;
		left: 0.5rem;
	}

	.links a {
		display: flex;
		align-items: center;
		z-index: 3;
		width: fit-content;
	}

	.links img {
		width: 40px;
		height: 40px;
	}
	.dot {
		/* ... existing styles ... */
		transition: transform 0.3s ease;
	}

	.rotate {
		transform: rotate(90deg);
	}

	.links {
		/* ... existing styles ... */
		transition: transform 0.3s ease;
	}

	.hide {
		transform: translateY(-130%);
	}

	.links-text {
		transform: rotate(90deg);
		position: relative;
		top: 16rem;
		left: -6.3rem;
		color: #f28531;
		font-size: 1.2rem;
	}
	a:link {
		font-size: 1.5rem;
	}
	/* removing the first three sections */
	.section1 {
		display: none;
	}
	.section2 {
		display: none;
	}
	.section3 {
		display: none;
	}
	/* Editing the section5 newly created for mobile which containes all the elements */
	.section5 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 0.1fr 1fr 1fr 2fr 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
	}
	.mob-h1 {
		grid-row: 1/2;
		grid-column: 1/-1;
		justify-self: center;
	}
	.mob-img1 {
		grid-row: 2/3;
		grid-column: 1/-1;
		justify-self: center;
		width: 50%;
	}
	.mob-img2 {
		grid-row: 3/4;
		grid-column: 1/2;
		width: 60%;
		justify-self: flex-end;
		position: relative;
		top: -20%;
	}
	.mob-img3 {
		grid-row: 3/4;
		grid-column: 2/3;
		width: 60%;
		position: relative;
		top: -35%;
	}
	.mob-img4 {
		grid-row: 4/5;
		grid-column: 1/-1;
		width: 80%;
		justify-self: center;
		position: relative;
		top: -25%;
	}
	.mob-img5 {
		grid-row: 5/6;
		grid-column: 1/2;
		width: 60%;
		justify-self: center;
		position: relative;
		top: -130%;
		left: -5%;
		z-index: -1;
	}
	.mob-img6 {
		grid-row: 5/6;
		grid-column: 2/3;
		width: 100%;
		position: relative;
		top: -110%;
	}
	.mob-img7 {
		grid-row: 6/7;
		grid-column: 1/-1;
		width: 100%;
		position: relative;
		top: -50%;
	}
	.mob-img8 {
		grid-row: 7/8;
		grid-column: 1/-1;
		width: 70%;
		position: relative;
		top: -100%;
	}
	.mob-img9 {
		grid-row: 8/9;
		grid-column: 1/-1;
		width: 100%;
		position: relative;
		top: -150%;
	}
	.mob-img10 {
		grid-row: 9/10;
		grid-column: 1/-1;
		width: 40%;
		justify-self: flex-end;
		position: relative;
		top: -230%;
		left: -10%;
		z-index: 1;
	}
	.mob-img11 {
		grid-row: 10/11;
		grid-column: 1/2;
		width: 100%;
		position: relative;
		top: -290%;
		left: 30%;
	}
	.mob-img12 {
		grid-row: 10/11;
		grid-column: 2/3;
		width: 100%;
		position: relative;
		top: -240%;
		left: 0%;
		z-index: 1;
	}
	.mob-img13 {
		grid-row: 11/12;
		grid-column: 1/-1;
		width: 100%;
		position: relative;
		top: -315%;
		z-index: -1;
	}
	.mob-img14 {
		grid-row: 12/13;
		grid-column: 1/-1;
		width: 100%;
		position: relative;
		top: -345%;
	}
	.mob-img15 {
		grid-row: 13/14;
		grid-column: 1/2;
		width: 100%;
		position: relative;
		top: -378%;
		z-index: -1;
	}
	.mob-img16 {
		grid-row: 14/15;
		grid-column: 1/-1;
		width: 100%;
		position: relative;
		top: -430%;
	}

	/* Finished the new section */
	.mob-img3-1 {
		margin-bottom: 50px;
	}
	.section4 {
		grid-template-columns: 1fr;
	}
	.checkout {
		left: 0;
		font-weight: 700;
	}
	.big-circle {
		border-radius: 0%;
		width: 100%;
		text-align: center;
		border-width: 3px;
	}
	.animation-div1 {
		position: relative;
		left: -2.5%;
	}
	.animation-div2 {
		position: relative;
		left: 2.5%;
	}

	.animation-div1:hover .white-circle1 {
		animation: none;
	}

	.animation-div1:not(:hover) .white-circle1 {
		animation: none;
	}

	.animation-div2:hover .white-circle2 {
		animation: none;
	}

	.animation-div2:not(:hover) .white-circle2 {
		animation: none;
	}

	/* This part is for the red circes */
	.animation-div1:hover .red-circle1 {
		animation: none;
	}

	.animation-div1:not(:hover) .red-circle1 {
		animation: none;
	}

	.animation-div2:hover .red-circle2 {
		animation: none;
	}

	.animation-div2:not(:hover) .red-circle2 {
		animation: none;
	}
	.footer {
		position: relative;
		top: -40rem;
	}
	.mob-link-sec {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		position: absolute;
		right: 0;
		top: -1%;
	}
	.mob-circ-div1 {
		position: relative;
		left: 8%;
		z-index: 2;
	}
	.mob-circ-div2 {
		position: relative;
		left: 8%;
		top: -48%;
		z-index: 3;
	}
	.mob-circ-div3 {
		position: relative;
		left: 8%;
		top: -98%;
		z-index: 4;
	}
	.mob-white-circ1 {
		border: 1px #f28531 solid;
		border-radius: 50%;
		background-color: white;
	}
	.mob-white-circ2 {
		border: 1px #db0047 solid;
		border-radius: 50%;
		background-color: white;
	}
	.mob-white-circ3 {
		border: 1px #db0047 solid;
		border-radius: 50%;
		background-color: white;
	}
	.mob-red-circ1 {
		border: 1px #f28531 solid;
		border-radius: 50%;
		background-color: #f28531;
		width: 62.5px;
		height: 62.5px;
		position: relative;
		top: -40%;
		left: -3%;
		z-index: -1;
	}
	.mob-red-circ2 {
		border: 1px #db0047 solid;
		border-radius: 50%;
		background-color: #db0047;
		width: 62.5px;
		height: 62.5px;
		position: relative;
		top: -40%;
		left: -3%;
		z-index: -1;
	}
	.mob-red-circ3 {
		border: 1px #db0047 solid;
		border-radius: 50%;
		background-color: #db0047;
		width: 62.5px;
		height: 62.5px;
		position: relative;
		top: -40%;
		left: -3%;
		z-index: -1;
	}
	.mob-link-img {
		border-radius: 50%;
	}

	/* This part is for the bottom section in mobile version */
	.mob-bot {
		display: grid;
		border: 2px #db0047 solid;
		height: auto;
		width: 100%;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 0.1fr 1fr;
		justify-content: center;
		align-items: center;
		justify-items: center;
		gap: 5%;
		height: 22rem;
		position: relative;
		grid-row: 15/16;
		grid-column: 1/-1;
		top: -433.5%;
	}
	.mob-bot-text {
		grid-row: 1/2;
		grid-column: 1/-1;
		font-size: 1.5rem;
		position: relative;
		top: 3rem;
	}
	.mob-bot-circ-div1 {
		grid-row: 2/3;
		grid-column: 1/2;
		justify-self: flex-end;
		position: relative;
		top: 20%;
	}
	.mob-bot-circ-div2 {
		grid-row: 2/3;
		grid-column: 2/3;
		justify-self: flex-start;
		position: relative;
		top: 20%;
	}
	.mob-bot-white-circ1 {
		border-radius: 50%;
		border: 1px #db0047 solid;
		width: 10rem;
		height: 10rem;
		background-color: white;
		display: flex;
		justify-content: center;
	}
	.mob-bot-red-circ1 {
		border-radius: 50%;
		border: 1px #db0047 solid;
		width: 10rem;
		height: 10rem;
		background-color: #db0047;
		position: relative;
		top: -9rem;
		z-index: -1;
	}
	.mob-bot-link-img {
		width: 95%;
		border-radius: 51%;
	}
	.mob-h1 {
		color: #f28531;
		font-size: 1.5rem;
		position: relative;
		left: 0%;
		margin-bottom: 10px;
		font-weight: 700;
	}
}
@media (max-width: 38.75em) {
	main {
		height: 545rem;
	}
}
@media (max-width: 36.25em) {
	main {
		height: 505rem;
	}
}
@media (max-width: 32.5625em) {
	main {
		height: 460rem;
	}
}

@media (max-width: 30.1875em) {
	main {
		height: 430rem;
	}
}

@media (max-width: 30.1875em) {
	main {
		height: 435rem;
	}
}

@media (max-width: 28em) {
	.mobile-about {
		justify-self: center;
	}
	html {
		font-size: 10px;
	}
	.links-text {
		top: 17.5rem;
		left: -6.85rem;
	}
	a:link {
		font-size: 1.4rem;
	}
	.right-dot {
		left: 5.4rem;
		top: 0.1rem;
	}
	.left-dot {
		left: -5.4rem;
		top: 0rem;
	}
}
@media (max-width: 26em) {
	main {
		height: 410rem;
	}
}
@media (max-width: 24.375em) {
	main {
		height: 380rem;
	}
}
@media (max-width: 21.25em) {
	html {
		font-size: 9px;
	}
	main {
		height: 370rem;
	}
	.mobile-about {
		justify-self: baseline;
	}
	.right-dot {
		left: 5.9rem;
		top: 0.1rem;
	}
	.left-dot {
		left: -5.9rem;
		top: 0rem;
	}
	.mob-h1 {
		left: 2%;
	}
	.links-text {
		top: 19rem;
		left: -7.7rem;
	}
	.mob-h1 {
		left: 0rem;
	}
}
