* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: fit-content;
}
body {
	background-color: #fff0ed;
	font-family: 'Barlow', sans-serif;
	color: #db0047;
	overflow-x: hidden;
}
main {
	height: 100%;
}
p {
	font-weight: 700;
}
.container {
	display: grid;
	width: auto;
	height: 12.5rem;
	grid-template-columns: 3.75rem 3.75rem 3.75rem 3.75rem 3.75rem 1fr;
	grid-template-rows: 6.25rem 1fr 1fr 1fr;
}
img {
	width: 6.25rem;
}

.logo {
	position: relative;
	grid-column: -1;
	width: 15.625rem;
	height: 15.625rem;
	top: -4.375rem;
	margin-right: 1.875rem;
}
.logo-txt {
	position: relative;

	grid-column: -1;
	grid-row: 2;
	justify-self: center;
	font-size: 1.2rem;
	letter-spacing: 0.19rem;
	margin-right: 1.875rem;
	margin-bottom: 1.25rem;
	top: -0.9375rem;
	color: #db0047;
}

a:link {
	color: #db0047;
	font-family: 'Barlow', sans-serif;
	font-weight: bold;
	font-size: 1.0625rem;
	text-decoration: none;
}

.about:visited {
	color: #db0047;
}
.about {
	grid-column: -1;
	grid-row: 3;
	text-align: right;
	margin-right: 3.125rem;
	margin-bottom: 1.25rem;
	color: #db0047;
	z-index: 1;
	position: relative;
	top: -0.625rem;
}
.contact {
	grid-column: -1;
	grid-row: 4;
	text-align: right;
	margin-right: 3.125rem;
	color: #e12c65;
	position: relative;
	top: -1.5625rem;
	z-index: 1;
}
.contact:visited {
	color: #e12c65;
}

.image-text {
	position: absolute;
	height: auto;
	transform: rotate(90deg);
	opacity: 0;
	color: #f28531;
}
.cam {
	position: relative;
	top: -0.3125rem;
	z-index: 2;
}

.sheets {
	position: relative;

	z-index: 2;
}
.o {
	position: relative;

	z-index: 2 !important;
}
.arrow {
	position: relative;
	z-index: 2;
}
.box {
	position: absolute;
	left: 2rem;
	top: 1.5rem;
	width: 2.25rem;
	z-index: 2;
}

.box:hover {
	cursor: pointer;

	content: url('../SVG/box-clicked.png');
}
.o:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-29.svg');
}
.cam:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-30.svg');
}
.arrow:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-31.svg');
}
.sheets:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-32.svg');
}
.o-container:hover .image-text {
	animation: drop-down-o 0.3s ease-in forwards;
}
.cam-container:hover .image-text {
	animation: drop-down 0.3s ease-in forwards;
}
.arrow-container:hover .image-text {
	animation: drop-down 0.3s ease-in forwards;
}
.sheets-container:hover .image-text {
	animation: drop-down 0.3s ease-in forwards;
}
.box-container:hover .image-text {
	animation: drop-down 0.3s ease-in forwards;
}

.o-container:not(:hover) .image-text {
	animation: rise-up-o 0.3s ease-out forwards;
}
.cam-container:not(:hover) .image-text {
	animation: rise-up 0.3s ease-out forwards;
}
.arrow-container:not(:hover) .image-text {
	animation: rise-up 0.3s ease-out forwards;
}
.sheets-container:not(:hover) .image-text {
	animation: rise-up 0.3s ease-out forwards;
}
.box-container:not(:hover) .image-text {
	animation: rise-up 0.3s ease-out forwards;
}
@keyframes drop-down {
	0% {
		top: 6.5rem;
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 7.5rem;
		opacity: 1;
	}
}

@keyframes rise-up {
	0% {
		top: 7.5rem;
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 6.25rem;
		opacity: 0;
	}
}

@keyframes drop-down-o {
	0% {
		top: 6.5rem;
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 7rem;
		opacity: 1;
	}
}

@keyframes rise-up-o {
	0% {
		top: 7rem;
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 6.25rem;
		opacity: 0;
	}
}
.logos-text {
	font-size: 1.25rem;
}

.box-text {
	left: 0.1rem;
}
.o-text {
	left: 4rem;
}
.arrow-text {
	left: 11rem;
}
.sheets-text {
	left: 15rem;
}
.cam-text {
	left: 6.8rem;
}

/* change this text class and remove the image-text class from html to let the text stay and change the image in the html to the once colored orange */
.sheets-text {
	position: absolute;
	height: auto;
	transform: rotate(90deg);
	opacity: 1;
	color: #f28531;
	top: 7.5rem;
}

.logo:hover {
	cursor: pointer;
}

footer {
	position: relative;
	bottom: 0rem;
}
.footer {
	display: grid;
	justify-content: center;
	grid-template-columns: 6fr 6fr 1fr 1fr 1fr 6fr 6fr;
	grid-template-rows: 6rem 6rem;
	justify-items: center;
	align-items: center;
	width: auto;
}

.footer-text {
	position: relative;
	grid-column: 1/-1;
	grid-row: 1;
	color: #f28531;
	font-weight: 700;
	align-self: flex-end;
	bottom: -0.625rem;
	border-bottom: 0.1875rem solid #f28531;
	padding-bottom: 0.1875rem;
	text-transform: lowercase;
}
.insta {
	position: relative;
	grid-row: 2;
	grid-column: 3;
	left: 2.5rem;
	bottom: 0rem;
	width: 6.875rem;
	height: 6.875rem;
}

.be {
	grid-row: 2;
	grid-column: 4;
	width: 6.875rem;
	height: 6.875rem;
}

.mail {
	position: relative;
	grid-row: 2;
	grid-column: 5;
	left: -2.5rem;
	bottom: 0rem;
	width: 6.875rem;
	height: 6.875rem;
}

.uppercase {
	text-transform: uppercase;
}

.dots {
	width: 0.75rem;
	height: 0.75rem;
	border-radius: 50%;
	background-color: #db0047;
	margin: 0 0.3125rem;
	grid-row: 1;
	grid-column: 1/-1;
	position: relative;
	align-self: flex-end;
	bottom: -0.125rem;
	text-transform: lowercase;
}

.left-dot {
	left: -5rem;
}

.right-dot {
	left: 5rem;
}

/* Section 1 */

.section1 {
	display: grid;
	grid-template-rows: 34.375rem 28.75rem 43.125rem 43.125rem;
	grid-template-columns: 1fr 15.625rem;
	position: relative;
	top: -10rem;
}

.infographic-poster {
	grid-row: 1/2;
	justify-self: center;
	margin-left: 12.5rem;
	height: 100%;
	display: grid;
}
.link-div {
	grid-row: 1/2;
	justify-self: flex-end;
	margin-top: 100%;
}

.infographic-img {
	width: 37.5rem;
	height: 56.25rem;
	border: 0.0625rem #db0047 solid;
}

.info-circle {
	width: 31.25rem;
	height: 31.25rem;
	border-radius: 50%;
	border: 0.125rem solid #f28531;
	position: relative;
	left: 8%;
	top: -19%;
	z-index: -1;
	display: grid;
	align-items: end;
	justify-items: center;
}

.info-text {
	margin-bottom: 20%;
	color: #f28531;
	font-weight: 500;
	font-size: 1.125rem;
}
span {
	position: relative;
}
.info-text-line1 {
	position: relative;
	top: 82%;
	color: #f28531;
	font-size: 1.125rem;
	font-style: italic;
	font-weight: 500;
}
.info-text-line3 {
	left: 5%;
}
.info-text-line5 {
	left: 10%;
}

/* Editing the links */
.circle-link-img {
	width: 10rem;
	height: 4.0625rem;
	position: relative;
	right: -0.625rem;
}

.div-circle-link {
	width: 6.25rem;
	height: 6.25rem;
	border: 0.125rem #db0047 solid;
	border-radius: 50%;
	position: relative;
	background-color: #fff0ed;
	opacity: 73%;
	bottom: 80%;
	right: 25%;
}
.circle-link {
	height: 8.125rem;
}
.circle-link:hover {
	cursor: pointer;
}
.link-div-text {
	position: relative;
	top: -1.5625rem;
	right: -0.625rem;
	z-index: -1;
	font-size: 0.875rem;
}

@keyframes circle-right {
	0% {
		right: 25%;
	}
	100% {
		right: -110%;
	}
}
@keyframes circle-left {
	0% {
		right: -110%;
	}
	100% {
		right: 25%;
	}
}

.circle-link:hover .div-circle-link {
	animation: circle-right 0.2s linear forwards;
}
.circle-link:not(:hover) .div-circle-link {
	animation: circle-left 0.2s linear forwards;
}

/* The Image animation */
@keyframes image-link-right {
	0% {
		right: -0.4rem;
	}
	100% {
		right: -0.625rem;
	}
}
@keyframes image-link-left {
	0% {
		right: -0.625rem;
	}
	100% {
		right: -0.4rem;
	}
}
.circle-link:hover .circle-link-img {
	animation: image-link-left 0.2s linear forwards;
}
.circle-link:not(:hover) .circle-link-img {
	animation: image-link-right 0.2s linear forwards;
}

/* The text animation */
@keyframes link-text-down {
	0% {
		top: -1.5625rem;
		right: -0.625rem;
	}
	100% {
		top: 0rem;
		right: -0.4rem;
	}
}
@keyframes link-text-up {
	0% {
		top: 0rem;
		right: -0.4rem;
	}
	100% {
		top: -1.5625rem;
		right: -0.625rem;
	}
}
.circle-link:hover .link-div-text {
	animation: link-text-down 0.2s ease-in forwards;
}
.circle-link:not(:hover) .link-div-text {
	animation: link-text-up 0.2s ease-in forwards;
}

/* Editing the first part of the section which is the 2 circles and 3 images animation */

.infographic-poster {
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	position: relative;
	top: -6.25rem;
	z-index: 1;
}

.circle1 {
	width: 15.625rem;
	height: 15.625rem;
	border-radius: 50%;
	border: 0.125rem solid #db0047;
	position: relative;
	grid-row: 1/2;
	grid-column: 3/4;
	z-index: 1;
}

.circle2 {
	width: 15.625rem;
	height: 15.625rem;
	border-radius: 50%;
	border: 0.125rem solid #db0047;
	grid-row: 3/4;
	grid-column: 2/3;
	position: relative;
	top: -6.25rem;
	z-index: 1;
}

.poster-img {
	width: 14.375rem;
	height: 14.375rem;
	position: relative;
	top: -7.5rem;
	left: 10rem;
}

.img1 {
	grid-row: 2/3;
	grid-column: 1/2;
	left: 11.25rem;
	opacity: 0;
}
.img2 {
	grid-row: 2/3;
	grid-column: 2/3;
}
.img3 {
	grid-row: 2/3;
	grid-column: 3/4;
	left: 8.75rem;
	opacity: 0;
}

@keyframes image {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
@keyframes image-gone {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
.infographic-poster:hover .img1 {
	animation: image 0.25s linear forwards;
}
.infographic-poster:hover .img3 {
	animation: image 0.25s linear forwards;
}
.infographic-poster:not(:hover) .img1 {
	animation: image-gone 0.2s linear forwards;
}
.infographic-poster:not(:hover) .img3 {
	animation: image-gone 0.2s linear forwards;
}

@keyframes circle1-animation {
	0% {
		top: 0;
	}
	100% {
		border-color: #f28531;
		transform: translateX(80%) translateY(220%);
	}
}
@keyframes circle1-animation-reverse {
	0% {
		border-color: #f28531;
		transform: translateX(80%) translateY(220%);
	}
	100% {
		transform: translateX(0%) translateY(0%);
		border-color: #db0047;
	}
}
.infographic-poster:hover .circle1 {
	animation: circle1-animation 0.2s linear forwards;
}
.infographic-poster:not(:hover) .circle1 {
	animation: circle1-animation-reverse 0.2s linear forwards;
}

@keyframes circle2-animation {
	0% {
		top: -6.25rem;
	}
	100% {
		border-color: #f28531;
		transform: translateX(15%) translateY(-30%);
	}
}
@keyframes circle2-animation-reverse {
	0% {
		border-color: #f28531;
		transform: translateX(15%) translateY(-30%);
	}
	100% {
		border-color: #db0047;
		top: -6.25rem;
	}
}
.infographic-poster:hover .circle2 {
	animation: circle2-animation 0.2s linear forwards;
}
.infographic-poster:not(:hover) .circle2 {
	animation: circle2-animation-reverse 0.2s linear forwards;
}

.circle2-text {
	opacity: 0;
	color: #f28531;
	font-weight: 300;
	font-size: 2.5rem;
	position: absolute;
	top: 80%;
}

@keyframes text-animation {
	0% {
		left: 0;
	}
	100% {
		left: 25%;
		opacity: 1;
	}
}
@keyframes text-animation-reverse {
	0% {
		left: 25%;
		opacity: 1;
	}
	100% {
		left: 0;
		opacity: 0;
	}
}
.infographic-poster:hover .circle2-text {
	animation: text-animation 0.2s linear forwards;
}
.infographic-poster:not(:hover) .circle2-text {
	animation: text-animation-reverse 0.2s linear forwards;
}

/* Editing the second part where there is new images with some animations and some half circles */
.part2 {
	grid-row: 2/3;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 14.375rem;
	width: 43.125rem;
	justify-self: end;
	z-index: 1;
}

.part2-img1 {
	width: 43.125rem;
	height: 14.375rem;
	z-index: 1;
	justify-self: flex-end;
	grid-row: 1/2;
}

.part2-img11 {
	width: 14.375rem;
	height: 14.375rem;
	grid-row: 2/3;
	justify-self: flex-end;
	position: relative;
	left: -14.375rem;
	opacity: 0;
}

.part2:hover .part2-img11 {
	animation: image 0.25s linear forwards;
}
.part2:not(:hover) .part2-img11 {
	animation: image-gone 0.2s linear forwards;
}

.half-circle1 {
	position: absolute;
	top: 12.5rem;
	width: 46.875rem;
	height: 50rem;
	overflow: hidden;
	z-index: -1;
}

.inside-circle1 {
	width: 56.25rem;
	height: 56.25rem;
	border-radius: 50%;
	border: 0.125rem solid #db0047;
}

.half1 {
	right: 9.375rem;
	top: 37.5rem;
	transform: rotate(180deg);
}

.half-circle2 {
	position: absolute;
	top: 12.5rem;
	width: 50rem;
	height: 53.125rem;
	overflow: hidden;
	z-index: -1;
}
.inside-circle2 {
	width: 59.375rem;
	height: 59.375rem;
	border-radius: 50%;
	border: 0.125rem solid #db0047;
}

.half2 {
	right: 6.875rem;
	top: 37.5rem;
	transform: rotate(186deg);
}

.half-circle3 {
	position: absolute;
	top: 12.5rem;
	width: 53.125rem;
	height: 57.5rem;
	overflow: hidden;
	z-index: -1;
}
.inside-circle3 {
	width: 62.5rem;
	height: 62.5rem;
	border-radius: 50%;
	border: 0.125rem solid #db0047;
}
.half3 {
	right: 4.375rem;
	top: 36.25rem;
	transform: rotate(185deg);
}

/* Editing part 3 */
.part3 {
	grid-row: 3/4;
	position: relative;
	left: 12.5rem;
	display: grid;
	grid-template-columns: 14.375rem 14.375rem 28.75rem;
	grid-template-rows: 43.125rem;
	height: 43.125rem;
}

.part3-img1 {
	width: 14.375rem;
	height: 43.125rem;
	grid-column: 1/2;
	grid-row: 1/2;
}

.part3-img2 {
	width: 14.375rem;
	height: 14.375rem;
	grid-column: 2/3;
	grid-row: 1/2;
	align-self: center;
}
.part3-img3 {
	width: 28.75rem;
	height: 14.375rem;
	grid-column: 3/4;
	grid-row: 1/2;
	align-self: center;
	opacity: 0;
}

.part3:hover .part3-img3 {
	animation: image 0.25s linear forwards;
}
.part3:not(:hover) .part3-img3 {
	animation: image-gone 0.2s linear forwards;
}

/* Editing part4  */
.part4 {
	grid-row: 4/5;
	grid-column: 1/2;
	position: relative;
	left: 21.875rem;
	display: grid;
	grid-template-rows: 14.375rem 14.375rem 14.375rem;
	grid-template-columns: 1fr;
}

.top {
	width: 14.375rem;
	height: 14.375rem;
	grid-row: 1/2;
	position: relative;
	left: 43.125rem;
}

.mid {
	width: 57.5rem;
	height: 14.375rem;
	grid-row: 2/3;
}
.bot-img {
	width: 14.375rem;
	height: 14.375rem;
	grid-row: 3/4;
	position: relative;
	left: 43.125rem;
}

/* the last 3 half circles */
.half-circle4 {
	position: absolute;
	top: 87.5rem;
	left: 18.75rem;
	width: 28.125rem;
	height: 37.5rem;
	overflow: hidden;
	z-index: -1;
}

.inside-circle4 {
	width: 50rem;
	height: 50rem;
	border-radius: 50%;
	border: 0.125rem solid #db0047;
}

.half4 {
	transform: rotate(92deg);
}

/* half circle 5 */
.half-circle5 {
	position: absolute;
	top: 89.75rem;
	left: 21.875rem;
	width: 34.375rem;
	height: 43.75rem;
	overflow: hidden;
	z-index: -1;
}

.inside-circle5 {
	width: 56.25rem;
	height: 56.25rem;
	border-radius: 50%;
	border: 0.125rem solid #db0047;
}

.half5 {
	transform: rotate(110deg);
}

/* half circle 6 */
.half-circle6 {
	position: absolute;
	top: 93.125rem;
	left: 28.125rem;
	width: 36.875rem;
	height: 36.875rem;
	overflow: hidden;
	z-index: -1;
}

.inside-circle6 {
	width: 56.25rem;
	height: 56.25rem;
	border-radius: 50%;
	border: 0.125rem solid #db0047;
}

.half6 {
	transform: rotate(100deg);
}
@media (max-width: 94em) {
	.infographic-poster {
		left: -10%;
	}
}

@media (max-width: 74em) {
	html {
		font-size: 15px;
	}
	.infographic-poster {
		left: -10%;
	}
}
@media (max-width: 70em) {
	html {
		font-size: 14px;
	}
}

@media (max-width: 64.5em) {
	html {
		font-size: 13px;
	}
}

@media (max-width: 60em) {
	html {
		font-size: 12px;
	}
}

@media (max-width: 54em) {
	html {
		font-size: 11px;
	}
	.part4 {
		left: 15rem;
	}
}
