* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: fit-content;
}
body {
	background-color: #fff0ed;
	font-family: 'Barlow', sans-serif;
	color: #db0047;
	overflow-x: hidden;
}
main {
	height: 100%;
}
p {
	font-weight: 700;
}
.container {
	display: grid;
	width: auto;
	height: 12.5rem;
	grid-template-columns: 3.75rem 3.75rem 3.75rem 3.75rem 3.75rem 1fr;
	grid-template-rows: 6.25rem 1fr 1fr 1fr;
}
img {
	width: 6.25rem;
}

.logo {
	position: relative;
	grid-column: -1;
	width: 15.625rem;
	height: 15.625rem;
	top: -4.375rem;
	margin-right: 1.875rem;
}
.logo-txt {
	position: relative;

	grid-column: -1;
	grid-row: 2;
	justify-self: center;
	font-size: 1.2rem;
	letter-spacing: 0.19rem;
	margin-right: 1.875rem;
	margin-bottom: 1.25rem;
	top: -0.9375rem;
	color: #db0047;
}

a:link {
	color: #db0047;
	font-family: 'Barlow', sans-serif;
	font-weight: bold;
	font-size: 1.0625rem;
	text-decoration: none;
}

.about:visited {
	color: #db0047;
}
.about {
	grid-column: -1;
	grid-row: 3;
	text-align: right;
	margin-right: 3.125rem;
	margin-bottom: 1.25rem;
	color: #db0047;
	z-index: 1;
	position: relative;
	top: -0.625rem;
}
.contact {
	grid-column: -1;
	grid-row: 4;
	text-align: right;
	margin-right: 3.125rem;
	color: #e12c65;
	position: relative;
	top: -1.5625rem;
	z-index: 1;
}
.contact:visited {
	color: #e12c65;
}

.image-text {
	position: absolute;
	height: auto;
	transform: rotate(90deg);
	opacity: 0;
	color: #f28531;
}
.cam {
	position: relative;
	top: -0.3125rem;
	z-index: 2;
}

.sheets {
	position: relative;

	z-index: 2;
}
.o {
	position: relative;

	z-index: 2 !important;
}
.arrow {
	position: relative;
	z-index: 2;
}
.box {
	position: absolute;
	left: 2rem;
	top: 1.5rem;
	width: 2.25rem;
}

.box:hover {
	cursor: pointer;

	content: url('../SVG/box-clicked.png');
}
.o:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-29.svg');
}
.cam:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-30.svg');
}
.arrow:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-31.svg');
}
.sheets:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-32.svg');
}
.o-container:hover .image-text {
	animation: drop-down-o 0.3s ease-in forwards;
}
.cam-container:hover .image-text {
	animation: drop-down 0.3s ease-in forwards;
}
.arrow-container:hover .image-text {
	animation: drop-down 0.3s ease-in forwards;
}
.sheets-container:hover .image-text {
	animation: drop-down 0.3s ease-in forwards;
}
.box-container:hover .image-text {
	animation: drop-down 0.3s ease-in forwards;
}

.o-container:not(:hover) .image-text {
	animation: rise-up-o 0.3s ease-out forwards;
}
.cam-container:not(:hover) .image-text {
	animation: rise-up 0.3s ease-out forwards;
}
.arrow-container:not(:hover) .image-text {
	animation: rise-up 0.3s ease-out forwards;
}
.sheets-container:not(:hover) .image-text {
	animation: rise-up 0.3s ease-out forwards;
}
.box-container:not(:hover) .image-text {
	animation: rise-up 0.3s ease-out forwards;
}
@keyframes drop-down {
	0% {
		top: 6.5rem;
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 7.5rem;
		opacity: 1;
	}
}

@keyframes rise-up {
	0% {
		top: 7.5rem;
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 6.25rem;
		opacity: 0;
	}
}

@keyframes drop-down-o {
	0% {
		top: 6.5rem;
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 7rem;
		opacity: 1;
	}
}

@keyframes rise-up-o {
	0% {
		top: 7rem;
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 6.25rem;
		opacity: 0;
	}
}
.logos-text {
	font-size: 1.25rem;
}

.box-text {
	left: 0.1rem;
}
.o-text {
	left: 4rem;
}
.arrow-text {
	left: 11rem;
}
.sheets-text {
	left: 15rem;
}
.cam-text {
	left: 6.8rem;
}

/* change this text class and remove the image-text class from html to let the text stay and change the image in the html to the once colored orange */
.sheets-text {
	position: absolute;
	height: auto;
	transform: rotate(90deg);
	opacity: 1;
	color: #f28531;
	top: 7.5rem;
}

.logo:hover {
	cursor: pointer;
}

footer {
	position: relative;
	bottom: 0rem;
}
.footer {
	display: grid;
	justify-content: center;
	grid-template-columns: 6fr 6fr 1fr 1fr 1fr 6fr 6fr;
	grid-template-rows: 6rem 6rem;
	justify-items: center;
	align-items: center;
	width: auto;
}

.footer-text {
	position: relative;
	grid-column: 1/-1;
	grid-row: 1;
	color: #f28531;
	font-weight: 700;
	align-self: flex-end;
	bottom: -0.625rem;
	border-bottom: 0.1875rem solid #f28531;
	padding-bottom: 0.1875rem;
	text-transform: lowercase;
}
.insta {
	position: relative;
	grid-row: 2;
	grid-column: 3;
	left: 2.5rem;
	bottom: 0rem;
	width: 6.875rem;
	height: 6.875rem;
}

.be {
	grid-row: 2;
	grid-column: 4;
	width: 6.875rem;
	height: 6.875rem;
}

.mail {
	position: relative;
	grid-row: 2;
	grid-column: 5;
	left: -2.5rem;
	bottom: 0rem;
	width: 6.875rem;
	height: 6.875rem;
}

.uppercase {
	text-transform: uppercase;
}

.dots {
	width: 0.75rem;
	height: 0.75rem;
	border-radius: 50%;
	background-color: #db0047;
	margin: 0 0.3125rem;
	grid-row: 1;
	grid-column: 1/-1;
	position: relative;
	align-self: flex-end;
	bottom: -0.125rem;
	text-transform: lowercase;
}

.left-dot {
	left: -5rem;
}

.right-dot {
	left: 5rem;
}
/*  The above css is the template for all pages on this website */

/* Section 1 */

.section1 {
	display: grid;
	grid-template-columns: 1fr 0.1fr;
	grid-template-rows: 1fr;
	overflow-x: hidden;
	position: relative;
	top: -6.25rem;
	margin-bottom: 50px;
}
.section1-div1 {
	grid-column: 1/2;
	justify-self: flex-end;
	display: grid;
	justify-content: center;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 2.5rem 1fr;
}
.first-h2 {
	font-size: 1.375rem;
	font-weight: 500;
	font-style: italic;
	grid-row: 1/2;
	grid-column: 1/-1;
	justify-self: center;
	margin-left: 30%;
}

.main-img {
	width: 31.25rem;
	height: auto;
	border: 0.0625rem #db0047 solid;
	margin-left: 125%;
	grid-row: 2/3;
}

.half-circle {
	width: 34.375rem;
	height: 34.375rem;
	border-radius: 50%;
	position: relative;
	z-index: -1;
	background-color: #f28531;
	opacity: 34%;
	margin-left: 10%;
	grid-row: 2/3;
}
.section1-text-div {
	position: relative;
	width: 10.9375rem;
	grid-row: 2/3;
	align-self: center;
	margin-right: 210%;
	margin-bottom: 20%;
}

/* Section 2 */
.section2 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr 1fr;
	justify-items: center;
}

.sec2-circl1 {
	width: 15.625rem;
	height: 15.625rem;
	border-radius: 50%;
	border: 0.125rem #db0047 solid;
	background-color: #db0047;
	text-align: center;
	grid-row: 1/2;
	grid-column: 1/2;
	position: relative;
	top: 0;
	left: 0;
	transition: left 0.5s, top 0.5s;
}

.sec2-circl2 {
	width: 15.625rem;
	height: 15.625rem;
	border-radius: 50%;
	border: 0.125rem #db0047 solid;
	background-color: #db0047;
	text-align: center;
	grid-row: 1/2;
	grid-column: 2/3;
	position: relative;
	top: 0;
	left: 0;
	transition: left 0.5s, top 0.5s;
}

.sec2-circl3 {
	width: 15.625rem;
	height: 15.625rem;
	border-radius: 50%;
	border: 0.125rem #db0047 solid;
	background-color: #db0047;
	text-align: center;
	grid-row: 1/2;
	grid-column: 3/4;
	position: relative;
	top: 0;
	left: 0;
	transition: left 0.5s, top 0.5s;
}

.sec2-head {
	position: relative;
	top: -6.875rem;
	font-size: 1.375rem;
	grid-area: 2/1/2/1;
	transition: top 0.5s;
}

.sect2-text {
	position: relative;
	top: -6.25rem;
	font-weight: 500;
	font-size: 1.375rem;
	font-style: italic;
	grid-area: 3/1/3/1;
	transition: top 0.5s;
}

.sect2-img {
	width: 10.625rem;
	height: 7.5rem;
	border: 0.0625rem #db0047 solid;
	position: relative;
	grid-row: 1/2;
}

/* images */
.img-set {
	position: relative;
	top: -5.5rem;
	width: min-content;
	margin: auto;
	transition: top 1s;
}

.img1 {
	z-index: 4;
	top: 0;
}
.img2 {
	z-index: 3;
	top: -5.45rem;
}
.img3 {
	z-index: 2;
	top: -10.9rem;
}
.img4 {
	z-index: 1;
	top: -16.35rem;
}

#set11 {
	width: 100%;
	height: min-content;
	top: -9rem;
	position: relative;
	left: 0;
	height: fit-content;
	display: flex;
	justify-content: space-between;
	gap: 0;
}

#set22 {
	width: 100%;
	height: min-content;
	top: -9rem;
	position: relative;
	left: 0;
	height: fit-content;
	display: flex;
	justify-content: space-between;
	gap: 0;
}

#set33 {
	width: 100%;
	height: min-content;
	top: -9rem;
	position: relative;
	left: 0;
	height: fit-content;
	display: flex;
	justify-content: space-between;
	gap: 0;
}

/* Animations */

.sec2-circl1:hover {
	left: -4rem;
	top: 13rem;
	background-color: #fff0ed;
}

.sec2-circl2:hover {
	top: 13rem;
	background-color: #fff0ed;
}

.sec2-circl3:hover {
	left: 10%;
	top: 13rem;
	background-color: #fff0ed;
}

.sec2-circs:hover .sec2-head {
	top: 3.5rem;
}

.sec2-circs:hover .sect2-text {
	top: 3.5rem;
}

#set11 .sect2-img {
	position: relative;
	top: 0;
	width: 100%;
	height: 86%;
}
#set22 .sect2-img {
	position: relative;
	top: 0;
	width: 100%;
	height: 86%;
}
#set33 .sect2-img {
	position: relative;
	top: 0;
	width: 100%;
	height: 75%;
}

/* Editing the links */
.link-div {
	grid-column: 2/3;
	justify-self: flex-end;
	margin-top: 100%;
}
.circle-link-img {
	width: 10rem;
	height: 4.0625rem;
	position: relative;
	right: -0.625rem;
}

.div-circle-link {
	width: 6.25rem;
	height: 6.25rem;
	border: 0.125rem #db0047 solid;
	border-radius: 50%;
	position: relative;
	background-color: #fff0ed;
	opacity: 73%;
	bottom: 80%;
	right: 25%;
}
.circle-link {
	height: 8.125rem;
}
.circle-link:hover {
	cursor: pointer;
}
.link-div-text {
	position: relative;
	top: -1.5625rem;
	right: -0.625rem;
	z-index: -1;
	font-size: 0.75rem;
}

@keyframes circle-right {
	0% {
		right: 25%;
	}
	100% {
		right: -100%;
	}
}
@keyframes circle-left {
	0% {
		right: -100%;
	}
	100% {
		right: 25%;
	}
}

.circle-link:hover .div-circle-link {
	animation: circle-right 0.2s linear forwards;
}
.circle-link:not(:hover) .div-circle-link {
	animation: circle-left 0.2s linear forwards;
}

/* The Image animation */
@keyframes image-link-right {
	0% {
		right: 0rem;
	}
	100% {
		right: -0.625rem;
	}
}
@keyframes image-link-left {
	0% {
		right: -0.625rem;
	}
	100% {
		right: 0rem;
	}
}
.circle-link:hover .circle-link-img {
	animation: image-link-left 0.2s linear forwards;
}
.circle-link:not(:hover) .circle-link-img {
	animation: image-link-right 0.2s linear forwards;
}

/* The text animation */
@keyframes link-text-down {
	0% {
		top: -1.5625rem;
		right: -0.625rem;
	}
	100% {
		top: 0rem;
		right: 0rem;
	}
}
@keyframes link-text-up {
	0% {
		top: 0rem;
		right: 0rem;
	}
	100% {
		top: -1.5625rem;
		right: -0.625rem;
	}
}
.circle-link:hover .link-div-text {
	animation: link-text-down 0.2s ease-in forwards;
}
.circle-link:not(:hover) .link-div-text {
	animation: link-text-up 0.2s ease-in forwards;
}

.hovered1 {
	left: -4rem;
	top: 13rem;
	background-color: #fff0ed;
}

.hovered2 {
	top: 13rem;
	background-color: #fff0ed;
}

.hovered3 {
	left: 10%;
	top: 13rem;
	background-color: #fff0ed;
}

.hovered1 .sec2-head {
	top: 3.5rem;
}

.hovered2 .sec2-head {
	top: 3.5rem;
}

.hovered3 .sec2-head {
	top: 3.5rem;
}

.hovered1 .sect2-text {
	top: 3.5rem;
}

.hovered2 .sect2-text {
	top: 3.5rem;
}

.hovered3 .sect2-text {
	top: 3.5rem;
}

/* @media queries for responsive (Mobile not included as it has another css file) */

@media (max-width: 86.5em) {
	html {
		font-size: 14px;
	}
}

@media (max-width: 74em) {
	html {
		font-size: 12px;
	}
}

@media (max-width: 62.5em) {
	html {
		font-size: 11px;
	}
}
@media (max-width: 58.5em) {
	.section1 {
		top: 0;
		margin-bottom: 100px;
	}
}

@media (max-width: 57em) {
	.link-div {
		margin-right: 40%;
	}
}

@media (max-width: 54.75em) {
	.link-div {
		margin-right: 70%;
	}
	.section1-div1 {
		position: relative;
		left: -5%;
	}
}

@media (max-width: 52.4em) {
	.link-div {
		margin-right: 110%;
	}
	.section1-div1 {
		position: relative;
		left: -10%;
	}
}

@media (max-width: 49.75em) {
	.link-div {
		margin-right: 145%;
	}
	.section1-div1 {
		position: relative;
		left: -14%;
	}
}
