* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	overflow-x: hidden;
}
html,
body {
	height: fit-content;
}
body {
	background-color: #fff0ed;
	font-family: 'Barlow', sans-serif;
	color: #db0047;
}
main {
	height: 100%;
}
p {
	font-weight: 700;
}
.container {
	display: grid;
	width: auto;
	height: 12.5rem;
	grid-template-columns: 3.75rem 3.75rem 3.75rem 3.75rem 3.75rem 1fr;
	grid-template-rows: 6.25rem 1fr 1fr 1fr;
}
img {
	width: 6.25rem;
}

.logo {
	position: relative;
	grid-column: -1;
	width: 15.625rem;
	height: 15.625rem;
	top: -4.375rem;
	margin-right: 1.875rem;
}
.logo-txt {
	position: relative;

	grid-column: -1;
	grid-row: 2;
	justify-self: center;
	font-size: 1.2rem;
	letter-spacing: 0.19rem;
	margin-right: 1.875rem;
	margin-bottom: 1.25rem;
	top: -0.9375rem;
	color: #db0047;
}

a:link {
	color: #db0047;
	font-family: 'Barlow', sans-serif;
	font-weight: bold;
	font-size: 1.0625rem;
	text-decoration: none;
}

.about:visited {
	color: #db0047;
}
.about {
	grid-column: -1;
	grid-row: 3;
	text-align: right;
	margin-right: 3.125rem;
	margin-bottom: 1.25rem;
	color: #db0047;
	z-index: 1;
	position: relative;
	top: -0.625rem;
}
.contact {
	grid-column: -1;
	grid-row: 4;
	text-align: right;
	margin-right: 3.125rem;
	color: #e12c65;
	position: relative;
	top: -1.5625rem;
	z-index: 1;
}
.contact:visited {
	color: #e12c65;
}

.image-text {
	position: absolute;
	height: auto;
	transform: rotate(90deg);
	opacity: 0;
	color: #f28531;
}
.cam {
	position: relative;
	top: -0.3125rem;
	z-index: 2;
}

.sheets {
	position: relative;

	z-index: 2;
}
.o {
	position: relative;

	z-index: 2 !important;
}
.arrow {
	position: relative;
	z-index: 2;
}
.box {
	position: absolute;
	left: 2rem;
	top: 1.5rem;
	width: 2.25rem;
}

.box:hover {
	cursor: pointer;

	content: url('../SVG/box-clicked.png');
}
.o:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-29.svg');
}
.cam:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-30.svg');
}
.arrow:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-31.svg');
}
.sheets:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-32.svg');
}
.o-container:hover .image-text {
	animation: drop-down-o 0.3s ease-in forwards;
}
.cam-container:hover .image-text {
	animation: drop-down 0.3s ease-in forwards;
}
.arrow-container:hover .image-text {
	animation: drop-down 0.3s ease-in forwards;
}
.sheets-container:hover .image-text {
	animation: drop-down 0.3s ease-in forwards;
}
.box-container:hover .image-text {
	animation: drop-down 0.3s ease-in forwards;
}

.o-container:not(:hover) .image-text {
	animation: rise-up-o 0.3s ease-out forwards;
}
.cam-container:not(:hover) .image-text {
	animation: rise-up 0.3s ease-out forwards;
}
.arrow-container:not(:hover) .image-text {
	animation: rise-up 0.3s ease-out forwards;
}
.sheets-container:not(:hover) .image-text {
	animation: rise-up 0.3s ease-out forwards;
}
.box-container:not(:hover) .image-text {
	animation: rise-up 0.3s ease-out forwards;
}
@keyframes drop-down {
	0% {
		top: 6.5rem;
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 7.5rem;
		opacity: 1;
	}
}

@keyframes rise-up {
	0% {
		top: 7.5rem;
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 6.25rem;
		opacity: 0;
	}
}

@keyframes drop-down-o {
	0% {
		top: 6.5rem;
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 7rem;
		opacity: 1;
	}
}

@keyframes rise-up-o {
	0% {
		top: 7rem;
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 6.25rem;
		opacity: 0;
	}
}
.logos-text {
	font-size: 1.25rem;
}

.box-text {
	left: 0.1rem;
}
.o-text {
	left: 4rem;
}
.arrow-text {
	left: 11rem;
}
.sheets-text {
	left: 15rem;
}
.cam-text {
	left: 6.8rem;
}

/* change this text class and remove the image-text class from html to let the text stay and change the image in the html to the once colored orange */
.sheets-text {
	position: absolute;
	height: auto;
	transform: rotate(90deg);
	opacity: 1;
	color: #f28531;
	top: 7.5rem;
}

.logo:hover {
	cursor: pointer;
}

footer {
	position: relative;
	bottom: 0rem;
}
.footer {
	display: grid;
	justify-content: center;
	grid-template-columns: 6fr 6fr 1fr 1fr 1fr 6fr 6fr;
	grid-template-rows: 6rem 6rem;
	justify-items: center;
	align-items: center;
	width: auto;
}

.footer-text {
	position: relative;
	grid-column: 1/-1;
	grid-row: 1;
	color: #f28531;
	font-weight: 700;
	align-self: flex-end;
	bottom: -0.625rem;
	border-bottom: 0.1875rem solid #f28531;
	padding-bottom: 0.1875rem;
	text-transform: lowercase;
}
.insta {
	position: relative;
	grid-row: 2;
	grid-column: 3;
	left: 2.5rem;
	bottom: 0rem;
	width: 6.875rem;
	height: 6.875rem;
}

.be {
	grid-row: 2;
	grid-column: 4;
	width: 6.875rem;
	height: 6.875rem;
}

.mail {
	position: relative;
	grid-row: 2;
	grid-column: 5;
	left: -2.5rem;
	bottom: 0rem;
	width: 6.875rem;
	height: 6.875rem;
}

.uppercase {
	text-transform: uppercase;
}

.dots {
	width: 0.75rem;
	height: 0.75rem;
	border-radius: 50%;
	background-color: #db0047;
	margin: 0 0.3125rem;
	grid-row: 1;
	grid-column: 1/-1;
	position: relative;
	align-self: flex-end;
	bottom: -0.125rem;
	text-transform: lowercase;
}

.left-dot {
	left: -5rem;
}

.right-dot {
	left: 5rem;
}

/* Editing section1 first flex div */

.section1 {
	display: flex;
	width: 100%;
	height: fit-content;
	position: relative;
	top: -5rem;
	flex-direction: column;
}

.flex1 {
	display: flex;
	width: 100%;
	justify-content: center;
	height: fit-content;
}

.big-circle1 {
	border-radius: 50%;
	border: 0.2rem #f28531 solid;
	position: relative;
	text-align: center;
	width: 37.5rem;
	height: 37.5rem;
	left: 5%;
}
.h2-1 {
	color: #f28531;
	font-weight: 300;
	font-size: 3.75rem;
	position: relative;
	top: 20%;
	left: 5%;
}
.img1 {
	width: 45%;
	position: relative;
	left: -55%;
	top: 0;
}
.img2 {
	width: 80%;
	position: relative;
	top: -46%;
	left: 14%;
}

.small-circle {
	border-radius: 50%;
	border: 0.2rem #db0047 solid;
	width: 18.75rem;
	height: 18.75rem;
	z-index: 2;
	position: relative;
	left: 3%;
	background-color: #fff0ed;
	opacity: 70%;
}
.h2-2 {
	color: #db0047;
	font-weight: 300;
	font-size: 1.625rem;
	position: relative;
	left: -17.5%;
	top: -2rem;
}
.img3 {
	width: 12%;
	height: fit-content;
	z-index: -1;
	position: relative;
	left: -26.5%;
}

/* Editing the grid */
.grid1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.grid-img1 {
	grid-row: 1/2;
	grid-column: 1/2;
	width: 80%;
	align-self: center;
	position: relative;
	top: -10%;
}
.grid-img2 {
	grid-row: 1/2;
	grid-column: 2/3;
	width: 70%;
	justify-self: center;
	position: relative;
	left: 10%;
}
.grid-img3 {
	grid-row: 1/2;
	grid-column: 3/4;
	width: 70%;
	justify-self: center;
	position: relative;
	left: 20%;
}
.grid-img4 {
	grid-row: 2/3;
	grid-column: 1/2;
	width: 70%;
	justify-self: center;
}
.grid-img5 {
	grid-row: 2/3;
	grid-column: 2/4;
	width: 70%;
	justify-self: center;
	margin-top: 30px;
	position: relative;
	left: -2.5%;
}

.circle2 {
	border: 3px #f28531 solid;
	border-radius: 50%;
	grid-row: 3/4;
	grid-column: 1/3;
	width: 55%;
	justify-self: center;
	display: flex;
}
.grid-img6 {
	position: relative;
	width: 70%;
	height: fit-content;
	left: -30%;
	top: 10%;
}
.grid-img7 {
	position: relative;
	width: 50%;
	height: fit-content;
	left: -10%;
}
.grid-img8 {
	grid-row: 3/4;
	grid-column: 3/4;
	width: 70%;
	justify-self: baseline;
	position: relative;
	left: -5%;
}

/* Creating the link div and editing it */
.link-div {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: -1rem;
	top: 30%;
	height: fit-content;
}

.circle-link-img {
	width: 10rem;
	height: 4.0625rem;
	position: relative;
	right: -0.625rem;
}

.div-circle-link {
	width: 6.25rem;
	height: 6.25rem;
	border: 0.125rem #db0047 solid;
	border-radius: 50%;
	position: relative;
	background-color: #fff0ed;
	opacity: 73%;
	bottom: 80%;
	right: 25%;
}
.circle-link {
	height: 8.125rem;
}
.circle-link:hover {
	cursor: pointer;
}
.link-div-text {
	position: relative;
	top: -1.5625rem;
	right: -0.625rem;
	z-index: -1;
	font-size: 0.875rem;
}

@keyframes circle-right {
	0% {
		right: 25%;
	}
	100% {
		right: -100%;
	}
}
@keyframes circle-left {
	0% {
		right: -100%;
	}
	100% {
		right: 25%;
	}
}

.circle-link:hover .div-circle-link {
	animation: circle-right 0.2s linear forwards;
}
.circle-link:not(:hover) .div-circle-link {
	animation: circle-left 0.2s linear forwards;
}

/* The Image animation */
@keyframes image-link-right {
	0% {
		right: 0rem;
	}
	100% {
		right: -0.625rem;
	}
}
@keyframes image-link-left {
	0% {
		right: -0.625rem;
	}
	100% {
		right: 0rem;
	}
}
.circle-link:hover .circle-link-img {
	animation: image-link-left 0.2s linear forwards;
}
.circle-link:not(:hover) .circle-link-img {
	animation: image-link-right 0.2s linear forwards;
}

/* The text animation */
@keyframes link-text-down {
	0% {
		top: -1.5625rem;
		right: -0.625rem;
	}
	100% {
		top: 0rem;
		right: 0rem;
	}
}
@keyframes link-text-up {
	0% {
		top: 0rem;
		right: 0rem;
	}
	100% {
		top: -1.5625rem;
		right: -0.625rem;
	}
}
.circle-link:hover .link-div-text {
	animation: link-text-down 0.2s ease-in forwards;
}
.circle-link:not(:hover) .link-div-text {
	animation: link-text-up 0.2s ease-in forwards;
}

@media (max-width: 91.25em) {
	.section1 {
		top: 0;
	}
}

@media (max-width: 75em) {
	html {
		font-size: 15px;
	}
	.link-div {
		top: 40%;
	}
	.img3 {
		left: -35%;
	}
	.h2-2 {
		left: -23%;
		white-space: nowrap;
	}
}
@media (max-width: 85.25em) {
	.flex1 {
		position: relative;
		left: 10%;
	}
}
@media (max-width: 70.5em) {
	html {
		font-size: 14px;
	}
}

@media (max-width: 62.5em) {
	html {
		font-size: 13px;
	}
}
@media (max-width: 56.25em) {
	html {
		font-size: 12px;
	}
}

@media (max-width: 50em) {
	html {
		font-size: 11px;
	}
	.h2-1 {
		top: 10%;
	}
}
