* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
	overflow: hidden;
}
body {
	background-color: #fff0ed;
	font-family: 'Barlow', sans-serif;
	color: #db0047;
}
main {
	height: 0%;
}
p {
	font-weight: 700;
}
.container {
	display: grid;
	width: auto;
	height: 12.5rem;
	grid-template-columns: 3.75rem 3.75rem 3.75rem 3.75rem 3.75rem 1fr;
	grid-template-rows: 6.25rem 1fr 1fr 1fr;
}
img {
	width: 6.25rem;
}

.logo {
	position: relative;
	grid-column: -1;
	width: 15.625rem;
	height: 15.625rem;
	top: -4.375rem;
	margin-right: 1.875rem;
	z-index: 1;
}
.logo-txt {
	position: relative;

	grid-column: -1;
	grid-row: 2;
	justify-self: center;
	font-size: 1.2rem;
	letter-spacing: 0.19rem;
	margin-right: 1.875rem;
	margin-bottom: 1.25rem;
	top: -0.9375rem;
	color: #db0047;
}

a:link {
	color: #db0047;
	font-family: 'Barlow', sans-serif;
	font-weight: bold;
	font-size: 1.0625rem;
	text-decoration: none;
}

.about:visited {
	color: #db0047;
}
.about {
	grid-column: -1;
	grid-row: 3;
	text-align: right;
	margin-right: 3.125rem;
	margin-bottom: 1.25rem;
	color: #db0047;
	z-index: 2;
	position: relative;
	top: -0.625rem;
}
.contact {
	grid-column: -1;
	grid-row: 4;
	text-align: right;
	margin-right: 3.125rem;
	color: #e12c65;
	position: relative;
	top: -1.5625rem;
	z-index: 2;
}
.contact:visited {
	color: #e12c65;
}

.image-text {
	position: absolute;
	height: auto;
	transform: rotate(90deg);
	opacity: 0;
	color: #f28531;
}
.cam {
	position: relative;
	top: -0.3125rem;
	z-index: 2;
}

.sheets {
	position: relative;

	z-index: 2;
}
.o {
	position: relative;

	z-index: 2 !important;
}
.arrow {
	position: relative;
	z-index: 2;
}

.box {
	position: absolute;
	left: 2rem;
	top: 1.5rem;
	width: 2.25rem;
}

.box:hover {
	cursor: pointer;

	content: url('../SVG/box-clicked.png');
}
.o:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-29.svg');
}
.cam:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-30.svg');
}
.arrow:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-31.svg');
}
.sheets:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-32.svg');
}
.o-container:hover .image-text {
	animation: drop-down-o 0.3s ease-in forwards;
}
.cam-container:hover .image-text {
	animation: drop-down 0.3s ease-in forwards;
}
.arrow-container:hover .image-text {
	animation: drop-down 0.3s ease-in forwards;
}
.sheets-container:hover .image-text {
	animation: drop-down 0.3s ease-in forwards;
}
.box-container:hover .image-text {
	animation: drop-down 0.3s ease-in forwards;
}

.o-container:not(:hover) .image-text {
	animation: rise-up-o 0.3s ease-out forwards;
}
.cam-container:not(:hover) .image-text {
	animation: rise-up 0.3s ease-out forwards;
}
.arrow-container:not(:hover) .image-text {
	animation: rise-up 0.3s ease-out forwards;
}
.sheets-container:not(:hover) .image-text {
	animation: rise-up 0.3s ease-out forwards;
}
.box-container:not(:hover) .image-text {
	animation: rise-up 0.3s ease-out forwards;
}
@keyframes drop-down {
	0% {
		top: 6.5rem;
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 7.5rem;
		opacity: 1;
	}
}

@keyframes rise-up {
	0% {
		top: 7.5rem;
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 6.25rem;
		opacity: 0;
	}
}

@keyframes drop-down-o {
	0% {
		top: 6.5rem;
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 7rem;
		opacity: 1;
	}
}

@keyframes rise-up-o {
	0% {
		top: 7rem;
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 6.25rem;
		opacity: 0;
	}
}
.logos-text {
	font-size: 1.25rem;
}

.box-text {
	left: 0.1rem;
}
.o-text {
	left: 4rem;
}
.arrow-text {
	left: 11rem;
}
.sheets-text {
	left: 15rem;
}
.cam-text {
	left: 6.8rem;
}
/* change this text class and remove the image-text class from html to let the text stay and change the image in the html to the once colored orange */
.arrow-text {
	position: absolute;
	height: auto;
	transform: rotate(90deg);
	opacity: 1;
	color: #f28531;
	top: 7.8rem;
}

.logo:hover {
	cursor: pointer;
}

footer {
	position: relative;
	bottom: 78rem;
}
.footer {
	display: grid;
	justify-content: center;
	grid-template-columns: 6fr 6fr 1fr 1fr 1fr 6fr 6fr;
	grid-template-rows: 6rem 6rem;
	justify-items: center;
	align-items: center;
	width: auto;
}

.footer-text {
	position: relative;
	grid-column: 1/-1;
	grid-row: 1;
	color: #f28531;
	font-weight: 700;
	align-self: flex-end;
	bottom: -0.625rem;
	border-bottom: 0.1875rem solid #f28531;
	padding-bottom: 0.1875rem;
	text-transform: lowercase;
}
.insta {
	position: relative;
	grid-row: 2;
	grid-column: 3;
	left: 2.5rem;
	bottom: 0rem;
	width: 6.875rem;
	height: 6.875rem;
}

.be {
	grid-row: 2;
	grid-column: 4;
	width: 6.875rem;
	height: 6.875rem;
}

.mail {
	position: relative;
	grid-row: 2;
	grid-column: 5;
	left: -2.5rem;
	bottom: 0rem;
	width: 6.875rem;
	height: 6.875rem;
}

.uppercase {
	text-transform: uppercase;
}

.dots {
	width: 0.75rem;
	height: 0.75rem;
	border-radius: 50%;
	background-color: #db0047;
	margin: 0 0.3125rem;
	grid-row: 1;
	grid-column: 1/-1;
	position: relative;
	align-self: flex-end;
	bottom: -0.125rem;
	text-transform: lowercase;
}

.left-dot {
	left: -5.3125rem;
}

.right-dot {
	left: 5.3125rem;
}
/*  The above css is the template for all pages on this website */

.section1 {
	display: grid;
	grid-template-columns: 12.5rem 12.5rem 12.5rem 12.5rem 12.5rem;
	grid-template-rows: 12.5rem 1fr;
	justify-content: center;
	align-items: center;
	justify-items: center;
	position: relative;
	top: -10rem;
	left: 8rem;
}

/* EDiting the headers and circle above the laptop */
.text {
	font-size: 1.25rem;
}
.text:hover {
	cursor: pointer;
}

.circle-text {
	position: relative;
	top: -15%;
	color: #f28531;
}
.circle1 {
	grid-row: 1/2;

	grid-column: 1/2;
	z-index: 2;
}
.circle2 {
	grid-row: 1/2;
	grid-column: 2/3;
	z-index: 2;
}
.circle3 {
	grid-row: 1/2;
	grid-column: 3/4;
	z-index: 2;
}
.circle4 {
	grid-row: 1/2;
	grid-column: 4/5;
	z-index: 2;
}
.circle {
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	border: 0.125rem solid #f28531;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 12%;
	z-index: -2;
}

/* Editing the big laptop */
.main-div {
	grid-row: 2/3;
	grid-column: 1/-1;
	position: relative;
	top: -22rem;
	z-index: 0;
	left: -10%;
	width: fit-content;
	height: fit-content;
}

.big-laptop {
	width: 62.55rem;
	height: 62.5rem;
	position: relative;

	z-index: -2;
}
.big-img {
	width: 50rem;
	height: auto;
	border-radius: 1.25rem;
	position: relative;
	z-index: 0;
}
.big-img-div {
	width: 50rem;
	height: 25rem;
	position: relative;
	top: -45rem;
	left: 10%;
	border-radius: 1.25rem;
	overflow: hidden;
	overflow-y: scroll;
}
.big-img-div::-webkit-scrollbar {
	display: none;
}

/*  link div */

.link-div {
	position: relative;
	z-index: 1;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 0%;
	width: fit-content;
	height: fit-content;
	grid-column: 4/5;
	grid-row: 1/-1;
	justify-self: baseline;
	align-self: baseline;
	gap: 2.5%;
	left: 8rem;
	top: 13%;
}

.link-div:hover {
	cursor: pointer;
}
.half-circle {
	width: 9rem;
	height: 10rem;
	position: relative;
	left: 35%;
	overflow: hidden;
}
.link-text-div1 {
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	border: 0.125rem solid #f28531;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	left: -45%;
}
.link-text1 {
	font-size: 1.25rem;
	position: relative;
	left: 40%;
	color: #f28531;
}

.link-text-div2 {
	align-self: baseline;
}
.link-text-div1:before {
	content: '';
	position: absolute;
	top: 0;
	left: -1.2rem;
	width: 45%;
	height: 35%;
	transform-origin: top right;
	transform: skewY(0deg);
}

.link-text2 {
	font-size: 1.25rem;
	position: relative;
	left: 43%;
}

.link-text3 {
	font-size: 1.25rem;
	position: relative;
	left: 43%;
	margin-top: -30%;
}

/* Under 1288px */
@media (max-width: 80.5em) {
	html {
		font-size: 14px;
	}
	.section1 {
		margin-top: 3.125rem;
	}
	.logo {
		right: -2rem;
	}
	.logo-txt {
		right: -2rem;
	}
	.about {
		right: -2rem;
	}
	.contact {
		right: -2rem;
	}
}
/* Under 1100px */
@media (max-width: 80.5em) {
	html {
		font-size: 13px;
	}
	.section1 {
		margin-top: 3.125rem;
	}
}
/* Under 1000px */
@media (max-width: 62.5em) {
	html {
		font-size: 12px;
	}
}

/* Under 850px */
@media (max-width: 54em) {
	html {
		font-size: 11px;
	}
}

/* Under 800px */
@media (max-width: 50em) {
	.section1 {
		margin-top: 8.125rem;
		left: 8%;
	}
}
