/***************************************************************************************************************************************/
/**************************************************************************************************************************************/
/**********************************************     Mobile version under 700px     ***************************************************/
.mobile-top {
	display: none;
}
.mobile-container {
	display: none;
}
.section5 {
	display: none;
}
.mob-link-sec {
	display: none;
}
.mob-flex {
	display: none;
}

@media (max-width: 41em) {
	html,
	body {
		overflow: auto;
		overflow-y: scroll;
		font-size: 11px;
	}
	.mobile-container {
		display: inline-block;
	}
	.container {
		display: none; /* This is to remvove the navbar used for the normal application */
	}
	.container1 {
		flex-wrap: wrap;
	}
	.logo {
		width: 15.625rem;
		height: 15.625rem;
		grid-row: 1/2;
		grid-column: 1/2;
		align-self: flex-start;
		position: relative;
		top: -35%;
		left: 5%;
	}
	.logo-txt {
		position: relative;
		justify-self: center;
		font-size: 1.25rem;
		letter-spacing: 0.18rem;
		color: #db0047;
		grid-row: 2/3;
		grid-column: 1/2;
		justify-self: baseline;
		position: relative;
		left: 10%;
		top: -145%;
	}
	.about:visited {
		color: #db0047;
	}
	.mobile-about {
		color: #db0047;
		z-index: 1;
		grid-row: 1/2;
		grid-column: 2/3;
		justify-self: center;
		position: relative;
		top: 5%;
		font-weight: 700;
		font-size: 2rem;
	}
	.contact {
		color: #e12c65;
		grid-row: 1/2;
		grid-column: 3/4;
		justify-self: flex-end;
		position: relative;
		top: 5%;
		font-weight: 700;
		font-size: 2rem;
	}
	.contact:visited {
		color: #e12c65;
	}

	.mobile-top {
		display: grid;
		grid-template-columns: 2fr 1fr 1fr;
		grid-template-rows: 2fr 1fr;
	}
	.footer {
		bottom: 0;
	}

	main {
		height: 100%;
		position: relative;
		top: -40rem;
	}

	/* Sidebar */
	.mobile-container {
		position: relative;
		top: -15rem;
	}
	.sidebar {
		width: 200px;
		background-color: #fff0ed;
		padding: 10px;
		height: 300px;
		overflow: hidden;
	}

	.dots1 {
		display: flex;
		justify-content: center;
		z-index: 3;
		width: 60px;
		height: 60px;
		position: relative;
	}
	.dot {
		width: 10px;
		height: 10px;
		background-color: #db0047;
		border-radius: 50%;
		margin: 0 2px;
		cursor: pointer;
		position: relative;
		top: 50%;
		position: relative;
		left: -5%;
		z-index: 20;
	}

	.links {
		display: flex;
		flex-direction: column;
		gap: 5px;
		position: relative;
		left: 0.5rem;
		top: -2%;
		z-index: 20;
	}

	.links a {
		display: flex;
		align-items: center;
		z-index: 3;
		width: fit-content;
	}

	.links img {
		width: 40px;
		height: 40px;
	}
	.dot {
		/* ... existing styles ... */
		transition: transform 0.3s ease;
	}

	.rotate {
		transform: rotate(90deg);
	}

	.links {
		/* ... existing styles ... */
		transition: transform 0.3s ease;
	}

	.hide {
		transform: translateY(-130%);
	}

	.links-text {
		transform: rotate(90deg);
		position: relative;
		top: 16rem;
		left: -6.3rem;
		color: #f28531;
		font-size: 1.2rem;
	}
	a:link {
		font-size: 1.5rem;
	}
	/* removing the first three sections */
	.section1 {
		display: none;
	}
	.section2 {
		display: none;
	}

	.footer {
		position: relative;
		top: -40rem;
	}
	.mob-link-sec {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		position: absolute;
		right: 0;
		top: -2%;
	}

	/*Editing the mob section*/
	.mob-flex {
		display: flex;
		flex-direction: column;
		justify-content: center;
		justify-items: center;
		align-items: center;
		align-content: center;
		width: 100%;
		margin-top: 15%;
	}
	.mob-a {
		color: #db0047;
		text-decoration: underline;
		font-size: 2rem;
		margin-bottom: 10%;
	}
	.mob-a:visited {
		text-decoration: underline;
		font-size: 2rem;
	}
	.mob-a:link {
		text-decoration: underline;
		font-size: 2rem;
	}
	.mob-p {
		font-size: 1.8rem;
		font-weight: 500;
		color: #f28531;
	}

	.mob-desktop {
		margin-top: 10%;
	}

	.mob-h2 {
		font-size: 2rem;
		color: #f28531;
		font-weight: 700;
	}

	.mob-grid {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		justify-content: center;
		justify-items: center;
		align-items: center;
		align-content: center;
		margin-top: 20px;
		gap: 15%;
	}
	.mob-circle {
		width: 9rem;
		height: 9rem;
		border: 0.125rem #f28531 solid;
		border-radius: 50%;
		text-align: center;
		display: grid;
		align-content: center;
	}
	.mob-h2-1 {
		font-size: 2rem;
		font-weight: 700;
	}

	.mob-img {
		width: 100%;
		margin-top: -4%;
		margin-bottom: 10%;
	}

	.mob-grid2 {
		display: grid;
		grid-template-rows: 1fr 0.1fr;
		grid-template-columns: 1fr 1fr;
		margin-top: 5%;
		width: 100%;
		justify-content: center;
		justify-items: center;
		align-items: center;
		align-content: center;
		row-gap: 5%;
	}
	.circle1 {
		width: 15rem;
		height: 15rem;
		border: 0.125rem #db0047 solid;
		border-radius: 50%;
	}
	.circle2 {
		grid-row: 1/2;
		grid-column: 1/2;
		z-index: 0;
	}
	.circle3 {
		grid-row: 1/2;
		grid-column: 2/3;
	}
	.mob-phone {
		width: 45%;
		position: relative;
		left: 25%;
		top: 10%;
	}
	.mob-phone-img {
		width: 44%;
		border-radius: 10%;
		position: relative;
		left: -21.2%;
		z-index: -1;
		top: 9%;
	}
	.mob-laptop {
		width: 150%;
		position: relative;
		left: -25%;
		top: 35%;
	}

	footer {
		display: none;
	}
	.footer {
		top: 0;
	}
	#mob-header-arrow {
		width: 36px;
		height: 40px;
	}
}

@media (max-width: 32.5em) {
	.mob-grid {
		gap: 10%;
	}
}
@media (max-width: 28.5em) {
	.mob-grid {
		gap: 5%;
	}
}
@media (max-width: 24.25em) {
	.mob-grid {
		gap: 0%;
	}
}
@media (max-width: 26.5em) {
	.mob-p {
		font-size: 1.5rem;
		font-weight: 500;
		color: #f28531;
	}
}

@media (max-width: 28em) {
	.mobile-about {
		justify-self: center;
	}
	html {
		font-size: 10px;
	}
	.links-text {
		top: 17.5rem;
		left: -6.85rem;
	}
	a:link {
		font-size: 1.4rem;
	}
	.right-dot {
		left: 5.9rem;
		top: 0.1rem;
	}
	.left-dot {
		left: -5.9rem;
		top: 0rem;
	}
}
@media (max-width: 25em) {
	.mob-grid {
		gap: 10%;
	}
	html {
		font-size: 9px;
	}
	.links-text {
		top: 19rem;
		left: -7.7rem;
	}
}
@media (max-width: 21.25em) {
	.mobile-about {
		justify-self: baseline;
	}
	.right-dot {
		left: 5.9rem;
		top: 0.1rem;
	}
	.left-dot {
		left: -5.9rem;
		top: 0rem;
	}
	.mob-h1 {
		left: 2%;
	}
	.links-text {
		top: 19rem;
		left: -7.7rem;
	}
	.mob-h1 {
		left: 0rem;
	}
}

@media (max-width: 23.5em) {
	.mob-h2-1 {
		font-size: 1.5rem;
		font-weight: 700;
	}
	.mob-h2 {
		font-size: 1.5rem;
		font-weight: 700;
	}
	.mob-circle {
		width: 8rem;
		height: 8rem;
	}
}

@media (max-width: 21.5em) {
	.mob-h2-1 {
		font-size: 1.5rem;
		font-weight: 700;
	}
	.mob-h2 {
		font-size: 1.5rem;
		font-weight: 700;
	}
	.mob-circle {
		width: 8rem;
		height: 8rem;
	}
	.mob-desktop {
		margin-top: 15%;
	}
	.mob-p {
		margin-left: 5%;
	}
}
