/***************************************************************************************************************************************/
/**************************************************************************************************************************************/
/**********************************************     Mobile version under 700px     ***************************************************/
.mobile-top {
	display: none;
}
.mobile-container {
	display: none;
}
.mob-flex {
	display: none;
}
.footer {
	display: grid;
}
@media (max-width: 41em) {
	html,
	body {
		overflow: visible;
	}
	.mobile-container {
		display: inline-block;
	}
	.container {
		display: none; /* This is to remvove the navbar used for the normal application */
	}
	.section1 {
		display: none;
	}
	.container1 {
		flex-wrap: wrap;
	}
	.logo {
		width: 15.625rem;
		height: 15.625rem;
		grid-row: 1/2;
		grid-column: 1/2;
		align-self: flex-start;
		position: relative;
		top: -35%;
		left: 5%;
	}
	.logo-txt {
		position: relative;
		justify-self: center;
		font-size: 1.25rem;
		letter-spacing: 0.18rem;
		color: #db0047;
		grid-row: 2/3;
		grid-column: 1/2;
		justify-self: baseline;
		position: relative;
		left: 10%;
		top: -145%;
	}
	.about:visited {
		color: #db0047;
	}
	.mobile-about {
		color: #db0047;
		z-index: 1;
		grid-row: 1/2;
		grid-column: 2/3;
		justify-self: center;
		position: relative;
		top: 5%;
		font-weight: 700;
		font-size: 2rem;
	}
	.contact {
		color: #e12c65;
		grid-row: 1/2;
		grid-column: 3/4;
		justify-self: flex-end;
		position: relative;
		top: 5%;
		font-weight: 700;
		font-size: 2rem;
	}
	.contact:visited {
		color: #e12c65;
	}

	.mobile-top {
		display: grid;
		grid-template-columns: 2fr 1fr 1fr;
		grid-template-rows: 2fr 1fr;
	}
	.footer {
		bottom: 0;
	}

	main {
		height: 120rem;
		position: relative;
		top: -25rem;
	}

	/* Sidebar */
	.mobile-container {
		position: relative;
		top: -15rem;
	}
	.sidebar {
		width: 200px;
		background-color: #fff0ed;
		padding: 10px;
		height: 300px;
		overflow: hidden;
	}

	.dots1 {
		display: flex;
		justify-content: center;
		z-index: 3;
		width: 60px;
		height: 60px;
		position: relative;
	}

	.dot {
		width: 10px;
		height: 10px;
		background-color: #db0047;
		border-radius: 50%;
		margin: 0 2px;
		cursor: pointer;
		position: relative;
		top: 50%;
	}

	.links {
		display: flex;
		flex-direction: column;
		gap: 5px;
		position: relative;
		left: 0.5rem;
	}

	.links a {
		display: flex;
		align-items: center;
		z-index: 3;
		width: fit-content;
	}

	.links img {
		width: 40px;
		height: 40px;
	}
	.dot {
		/* ... existing styles ... */
		transition: transform 0.3s ease;
	}

	.rotate {
		transform: rotate(90deg);
	}

	.links {
		/* ... existing styles ... */
		transition: transform 0.3s ease;
	}

	.hide {
		transform: translateY(-130%);
	}

	.links-text {
		transform: rotate(90deg);
		position: relative;
		top: 16rem;
		left: -6.3rem;
		color: #f28531;
		font-size: 1.2rem;
	}
	a:link {
		font-size: 1.5rem;
	}

	.footer {
		position: relative;
		top: -5rem;
	}

	footer {
		display: none;
	}
	.footer {
		display: grid;
		justify-self: center;
		grid-row: 9/10;
		grid-column: 1/-1;
		position: relative;
		top: -40%;
	}

	.mob-flex {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	/* First part */
	.mob-circle1 {
		width: 35rem;
		height: 35rem;
		border-radius: 50%;
		border: 2px #db0047 solid;
		margin-top: -20%;
		position: relative;
		left: 5%;
		display: flex;
		align-content: center;
		align-items: center;
		flex-direction: column;
		z-index: 0;
	}
	.mob-img1 {
		width: 40%;
		margin-top: -5%;
	}
	.mob-circ1-img2 {
		width: 39.1%;
		border-radius: 10%;
		margin-top: -81.5%;
		z-index: -1;
	}

	.mob-p1 {
		font-size: 2.4rem;
	}
	/* Part 2 */
	.mob-circle2 {
		width: 35rem;
		height: 35rem;
		border-radius: 50%;
		border: 2px #db0047 solid;
		position: relative;
		margin-top: 10%;
		display: flex;
		align-content: center;
		align-items: center;
		flex-direction: column;
	}
	.mob-img2 {
		width: 130%;
		margin-top: 15%;
	}

	.mob-p2 {
		font-size: 2.4rem;
		white-space: nowrap;
	}
}
@media (max-width: 29em) {
	.mob-circle1 {
		width: 30rem;
		height: 30rem;
		margin-top: -30%;
	}
	.mob-circle2 {
		width: 30rem;
		height: 30rem;
	}
}

@media (max-width: 28em) {
	.mobile-about {
		justify-self: center;
	}
	html {
		font-size: 10px;
	}

	a:link {
		font-size: 1.4rem;
	}
	.right-dot {
		left: 5.4rem;
		top: 0.1rem;
	}
	.left-dot {
		left: -5.4rem;
		top: 0rem;
	}

	.links-text {
		top: 19rem;
		left: -7rem;
	}
}

@media (max-width: 24.4em) {
	.mob-circle1 {
		width: 25rem;
		height: 25rem;
		margin-top: -40%;
	}
	.mob-circle2 {
		width: 25rem;
		height: 25rem;
	}
	.mob-p1 {
		font-size: 2rem;
	}
	.mob-p2 {
		font-size: 2rem;
	}
}
@media (max-width: 20.5em) {
	.mob-circle1 {
		width: 20rem;
		height: 20rem;
		margin-top: -50%;
	}
	.mob-circle2 {
		width: 20rem;
		height: 20rem;
	}
	.mob-p1 {
		font-size: 1.6rem;
	}
	.mob-p2 {
		font-size: 1.6rem;
	}
}
