* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	overflow-y: hidden;
}
body {
	background-color: #fff0ed;
	font-family: 'Barlow', sans-serif;
	color: #db0047;
}
main {
	height: 21.875rem;
}
p {
	font-weight: 700;
}
.container {
	display: grid;
	width: auto;
	height: 12.5rem;
	grid-template-columns: 3.75rem 3.75rem 3.75rem 3.75rem 3.75rem 1fr;
	grid-template-rows: 6.25rem 1fr 1fr 1fr;
}
img {
	width: 6.25rem;
}

.logo {
	position: relative;
	grid-column: -1;
	width: 15.625rem;
	height: 15.625rem;
	top: -4.375rem;
	margin-right: 1.875rem;
}
.logo-txt {
	position: relative;

	grid-column: -1;
	grid-row: 2;
	justify-self: center;
	font-size: 1.2rem;
	letter-spacing: 0.19rem;
	margin-right: 1.875rem;
	margin-bottom: 1.25rem;
	top: -0.9375rem;
	color: #db0047;
}

a:link {
	color: #db0047;
	font-family: 'Barlow', sans-serif;
	font-weight: bold;
	font-size: 1.0625rem;
	text-decoration: none;
}

.about:visited {
	color: #f28531;
}
.about {
	grid-column: -1;
	grid-row: 3;
	text-align: right;
	margin-right: 3.125rem;
	margin-bottom: 1.25rem;
	color: #f28531;
	z-index: 1;
	position: relative;
	top: -0.625rem;
}
.contact {
	grid-column: -1;
	grid-row: 4;
	text-align: right;
	margin-right: 3.125rem;
	color: #e12c65;
	position: relative;
	top: -1.5625rem;
}
.contact:visited {
	color: #e12c65;
}

.image-text {
	position: absolute;
	height: auto;
	transform: rotate(90deg);
	opacity: 0;
	color: #f28531;
}
.cam {
	position: relative;
	top: -0.3125rem;
}
.box {
	position: absolute;
	left: 2rem;
	top: 1.5rem;
	width: 2.25rem;
}

.box:hover {
	cursor: pointer;

	content: url('../SVG/box-clicked.png');
}
.o:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-29.svg');
}
.cam:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-30.svg');
}
.arrow:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-31.svg');
}
.sheets:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-32.svg');
}
.o-container:hover .image-text {
	animation: drop-down-o 0.3s ease-in forwards;
}
.cam-container:hover .image-text {
	animation: drop-down 0.3s ease-in forwards;
}
.arrow-container:hover .image-text {
	animation: drop-down 0.3s ease-in forwards;
}
.sheets-container:hover .image-text {
	animation: drop-down 0.3s ease-in forwards;
}
.box-container:hover .image-text {
	animation: drop-down 0.3s ease-in forwards;
}

.o-container:not(:hover) .image-text {
	animation: rise-up-o 0.3s ease-out forwards;
}
.cam-container:not(:hover) .image-text {
	animation: rise-up 0.3s ease-out forwards;
}
.arrow-container:not(:hover) .image-text {
	animation: rise-up 0.3s ease-out forwards;
}
.sheets-container:not(:hover) .image-text {
	animation: rise-up 0.3s ease-out forwards;
}
.box-container:not(:hover) .image-text {
	animation: rise-up 0.3s ease-out forwards;
}
@keyframes drop-down {
	0% {
		top: 6.5rem;
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 7.5rem;
		opacity: 1;
	}
}

@keyframes rise-up {
	0% {
		top: 7.5rem;
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 6.25rem;
		opacity: 0;
	}
}

@keyframes drop-down-o {
	0% {
		top: 6.5rem;
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 7rem;
		opacity: 1;
	}
}

@keyframes rise-up-o {
	0% {
		top: 7rem;
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 6.25rem;
		opacity: 0;
	}
}
.logos-text {
	font-size: 1.25rem;
}

.box-text {
	left: 0.1rem;
}
.o-text {
	left: 4rem;
}
.arrow-text {
	left: 11rem;
}
.sheets-text {
	left: 15rem;
}
.cam-text {
	left: 6.8rem;
}
/* change this text class and remove the image-text class from html to let the text stay and change the image in the html to the once colored orange */
.o-text {
	position: absolute;
	height: auto;
	transform: rotate(90deg);
	opacity: 1;
	color: #f28531;
	top: 6.4375rem;
}

.logo:hover {
	cursor: pointer;
}

footer {
	position: relative;
	bottom: 0rem;
}
.footer {
	display: grid;
	justify-content: center;
	grid-template-columns: 6fr 6fr 1fr 1fr 1fr 6fr 6fr;
	grid-template-rows: 6rem 6rem;
	justify-items: center;
	align-items: center;
	width: auto;
}

.footer-text {
	position: relative;
	grid-column: 1/-1;
	grid-row: 1;
	color: #f28531;
	font-weight: 700;
	align-self: flex-end;
	bottom: -0.625rem;
	border-bottom: 0.1875rem solid #f28531;
	padding-bottom: 0.1875rem;
	text-transform: lowercase;
}
.insta {
	position: relative;
	grid-row: 2;
	grid-column: 3;
	left: 2.5rem;
	bottom: 0rem;
	width: 6.875rem;
	height: 6.875rem;
}

.be {
	grid-row: 2;
	grid-column: 4;
	width: 6.875rem;
	height: 6.875rem;
}

.mail {
	position: relative;
	grid-row: 2;
	grid-column: 5;
	left: -2.5rem;
	bottom: 0rem;
	width: 6.875rem;
	height: 6.875rem;
}

.uppercase {
	text-transform: uppercase;
}

.dots {
	width: 0.75rem;
	height: 0.75rem;
	border-radius: 50%;
	background-color: #db0047;
	margin: 0 0.3125rem;
	grid-row: 1;
	grid-column: 1/-1;
	position: relative;
	align-self: flex-end;
	bottom: -0.125rem;
	text-transform: lowercase;
}

.left-dot {
	left: -5rem;
}

.right-dot {
	left: 5rem;
}
/*  The above css is the template for all pages on this website */

.big-circle {
	width: 31.25rem;
	height: 31.25rem;
	border-radius: 50%;
	border: 0.0625rem solid #db0047;
	display: grid;
	justify-items: center;
	float: left;
	position: relative;
	top: -3.125rem;
	margin-left: 4.375rem;
	margin-bottom: 0.625rem;
}

.about-text {
	font-size: 3.75rem;
	font-weight: 300;
	line-height: 1;
	position: relative;
	top: -5.625rem;
}

/* Editing each Line */
span {
	font-size: 4.125rem;
	font-weight: 700;
}
.hi-span {
	font-size: 4.375rem;
}
.line1 {
	left: -15.625rem;
}
.line2 {
	left: -3.75rem;
}
.line3 {
	left: -1.625rem;
}
.line4 {
	left: -0.3125rem;
}
.line5 {
	left: -0.5rem;
}
.line6 {
	left: -0.9375rem;
}
.line7 {
	left: -2.1875rem;
}
.line8 {
	left: -5rem;
}
.line9 {
	left: -11.25rem;
}

.lili-pic {
	width: 31.25rem;
	height: 31.25rem;
	position: relative;
	left: -20%;
	top: 10%;
}

.about:link {
	color: #f28531;
}

/* Media queries for responsiveness */
/* BELOW 1152px */
@media (max-width: 83em) {
	html {
		font-size: 14px;
	}
}

/* BELOW 944px */
@media (max-width: 73em) {
	html {
		font-size: 12px;
	}
}

/* BELOW 640px */
@media (max-width: 63em) {
	html {
		font-size: 11px;
	}
}

/* Below 916px */
@media (max-width: 57.25em) {
	.about-text {
		font-size: 3rem;
		line-height: normal;
	}
	.hi-span {
		font-size: 3.625rem;
	}
	span {
		font-size: 3.375rem;
	}
}

/* Below 822px */
@media (max-width: 51.375em) {
	.big-circle {
		width: 28.25rem;
		height: 28.25rem;
	}
	.lili-pic {
		width: 28.25rem;
		height: 28.25rem;
	}
	.about-text {
		font-size: 2.5rem;
		line-height: 1.3;
	}
	.hi-span {
		font-size: 3.125rem;
	}
	span {
		font-size: 2.875rem;
	}
}

/* Below 726 */
@media (max-width: 45.375em) {
	.big-circle {
		width: 28.25rem;
		height: 28.25rem;
	}
	.lili-pic {
		width: 28.25rem;
		height: 28.25rem;
	}
	.about-text {
		font-size: 2.2rem;
		line-height: 1.4;
	}
	.hi-span {
		font-size: 2.825rem;
	}
	span {
		font-size: 2.575rem;
	}
	.line5 {
		left: 0;
	}
	.line6 {
		left: -0.4375rem;
	}
	.line7 {
		left: -1.5rem;
	}
	.line8 {
		left: -3.5rem;
	}
	.line9 {
		left: -7rem;
	}
}
