* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	/* overflow: hidden; */
}
body {
	background-color: #fff0ed;
	font-family: 'Barlow', sans-serif;
	color: #db0047;
}
main {
	height: 2150px;
}
p {
	font-weight: 700;
}
.container {
	display: grid;
	width: auto;
	height: 200px;
	grid-template-columns: 60px 60px 60px 60px 60px 1fr;
	grid-template-rows: 100px 1fr 1fr 1fr;
}
img {
	width: 100px;
}

.logo {
	position: relative;
	grid-column: -1;
	width: 250px;
	height: 250px;
	top: -70px;
	margin-right: 30px;
}
.logo-txt {
	position: relative;

	grid-column: -1;
	grid-row: 2;
	justify-self: center;
	font-size: 20px;
	letter-spacing: 2.5px;
	margin-right: 30px;
	margin-bottom: 20px;
	top: -15px;
	color: #db0047;
}

a:link {
	color: #db0047;
	font-family: 'Barlow', sans-serif;
	font-weight: bold;
	font-size: 17px;
	text-decoration: none;
}

.about:visited {
	color: #db0047;
}
.about {
	grid-column: -1;
	grid-row: 3;
	text-align: right;
	margin-right: 50px;
	margin-bottom: 20px;
	color: #db0047;
	z-index: 1;
	position: relative;
	top: -10px;
}
.contact {
	grid-column: -1;
	grid-row: 4;
	text-align: right;
	margin-right: 50px;
	color: #e12c65;
	position: relative;
	top: -25px;
}
.contact:visited {
	color: #e12c65;
}

.image-text {
	position: absolute;
	height: auto;
	transform: rotate(90deg);
	opacity: 0;
	color: #f28531;
}
.cam {
	position: relative;
	top: -5px;
}
.box {
	position: absolute;
	left: 5px;
}

.box:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-28.svg');
}
.o:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-29.svg');
}
.cam:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-30.svg');
}
.arrow:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-31.svg');
}
.sheets:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-32.svg');
}
.o-container:hover .image-text {
	animation: drop-down-o 0.2s ease-in-out forwards;
}
.cam-container:hover .image-text {
	animation: drop-down 0.2s ease-in forwards;
}
.arrow-container:hover .image-text {
	animation: drop-down 0.2s ease-in forwards;
}
.sheets-container:hover .image-text {
	animation: drop-down 0.2s ease-in forwards;
}
.box-container:hover .image-text {
	animation: drop-down 0.2s ease-in forwards;
}

.o-container:not(:hover) .image-text {
	animation: rise-up-0 0.2s ease-in forwards;
}
.cam-container:not(:hover) .image-text {
	animation: rise-up 0.2s ease-in forwards;
}
.arrow-container:not(:hover) .image-text {
	animation: rise-up 0.2s ease-in forwards;
}
.sheets-container:not(:hover) .image-text {
	animation: rise-up 0.2s ease-in forwards;
}
.box-container:not(:hover) .image-text {
	animation: rise-up 0.2s ease-in forwards;
}
@keyframes drop-down {
	0% {
		top: 100px;
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 113px;
		opacity: 1;
	}
}
@keyframes drop-down-o {
	0% {
		top: 100px;
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 105px;
		opacity: 1;
	}
}

@keyframes rise-up {
	0% {
		top: 113px;
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 100px;
		opacity: 0;
	}
}
@keyframes rise-up-0 {
	0% {
		top: 105px;
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 100px;
		opacity: 0;
	}
}
.box-text {
	left: 12px;
}
.o-text {
	left: 70px;
}
.arrow-text {
	left: 185px;
}
.sheets-text {
	left: 250px;
}
.cam-text {
	left: 118px;
}

/* change this text class and remove the image-text class from html to let the text stay and change the image in the html to the once colored orange */
.box-text {
	position: absolute;
	height: auto;
	transform: rotate(90deg);
	opacity: 1;
	color: #f28531;
	top: 110px;
}

.logo:hover {
	cursor: pointer;
}

footer {
	position: relative;
	bottom: 0px;
}
.footer {
	display: grid;
	justify-content: center;
	grid-template-columns: 6fr 6fr 1fr 1fr 1fr 6fr 6fr;
	grid-template-rows: 6rem 6rem;
	justify-items: center;
	align-items: center;
	width: auto;
}

.footer-text {
	position: relative;
	grid-column: 1/-1;
	grid-row: 1;
	color: #f28531;
	font-weight: 700;
	align-self: flex-end;
	bottom: -10px;
	border-bottom: 3px solid #f28531;
	padding-bottom: 3px;
	text-transform: lowercase;
}
.insta {
	position: relative;
	grid-row: 2;
	grid-column: 3;
	left: 40px;
	bottom: 0px;
	width: 110px;
	height: 110px;
}

.be {
	grid-row: 2;
	grid-column: 4;
	width: 110px;
	height: 110px;
}

.mail {
	position: relative;
	grid-row: 2;
	grid-column: 5;
	left: -40px;
	bottom: 0px;
	width: 110px;
	height: 110px;
}

.uppercase {
	text-transform: uppercase;
}

.dots {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #db0047;
	margin: 0 5px;
	grid-row: 1;
	grid-column: 1/-1;
	position: relative;
	align-self: flex-end;
	bottom: -2px;
	text-transform: lowercase;
}

.left-dot {
	left: -80px;
}

.right-dot {
	left: 80px;
}
/*  The above css is the template for all pages on this website */

/* The following part is for the big circle and all its contents */
main {
	display: grid;
	place-items: center;
}
h1 {
	font-weight: 300;
	font-size: 46px;
	position: relative;
	top: -80px;
}

.text-container {
	width: 80%;
	font-size: 18px;
	position: relative;
	top: -120px;
	line-height: 1.4;
}

.big-circle {
	width: 800px;
	height: 800px;
	border-radius: 50%;
	border: 2px solid #db0047;
	display: grid;
	justify-items: center;
	position: relative;
	top: -30px;
}
.image1 {
	width: 480px;
	height: 480px;
	position: relative;
	top: -40px;
}

.section1 {
	display: grid;
	width: 100%;
	position: relative;
	top: -220px;
}

.flex1 {
	display: flex;
	gap: 30px;
	justify-content: center;
}

.flex2 {
	margin-top: 30px;
	display: flex;
	gap: 30px;
	justify-content: center;
}

.image2 {
	width: 300px;
	height: 450px;
}
.image3 {
	width: 300px;
	height: 450px;
}
.image4 {
	width: 400px;
	height: 450px;
}
.image5 {
	width: 450px;
	height: 600px;
}
.image6 {
	width: 300px;
	height: 600px;
}
.image7 {
	width: 250px;
	height: 600px;
}

/* section 2 circle animation */
.section2 {
	position: relative;
	top: -400px;
	height: 50%;
}
.circle3 {
	width: 450px;
	height: 450px;
	border-radius: 50%;
	border: 2px solid #db0047;
	background-color: #fff0ed;
}

.empty-circle {
	display: grid;
	justify-content: center;
	align-items: center;
	justify-items: center;
}
.filled-circle {
	position: relative;
	top: -450px;
	background-color: #db0047;
	z-index: -1;
}

.check {
	font-weight: 300;
	font-size: 30px;
	align-self: flex-end;
}

.perfume-img {
	width: 180px;
	height: 200px;
	border: 2px #db0047 solid;
	position: relative;
	top: -20px;
}

.bloom-text {
	font-size: 24px;
	align-self: flex-start;
	position: relative;
	top: -30px;
}

@keyframes rightmove {
	0% {
		transform: translateX(-10%);
	}
	100% {
		transform: translateX(0%);
	}
}
@keyframes leftmove {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-10%);
	}
}
@keyframes rightmove1 {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(10%);
	}
}
@keyframes leftmove1 {
	0% {
		transform: translateX(10%);
	}
	100% {
		transform: translateX(0%);
	}
}
/* Empty circle animtion */
.section2:hover .empty-circle {
	animation: leftmove 0.2s ease-out forwards;
}
.section2:not(:hover) .empty-circle {
	animation: rightmove 0.2s ease-out forwards;
}

/* Filled circle anima tion */
.section2:hover .filled-circle {
	animation: rightmove1 0.2s ease-out forwards;
}
.section2:not(:hover) .filled-circle {
	animation: leftmove1 0.2s ease-out forwards;
}
