* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	overflow: hidden;
}
body {
	background-color: #fff0ed;
	font-family: 'Barlow', sans-serif;
	color: #db0047;
}
main {
	height: 360px;
}
p {
	font-weight: 700;
}
.container {
	display: grid;
	width: auto;
	height: 200px;
	grid-template-columns: 60px 60px 60px 60px 60px 1fr;
	grid-template-rows: 100px 1fr 1fr 1fr;
}
img {
	width: 100px;
}

.logo {
	position: relative;
	grid-column: -1;
	width: 250px;
	height: 250px;
	top: -70px;
	margin-right: 30px;
}
.logo-txt {
	position: relative;

	grid-column: -1;
	grid-row: 2;
	justify-self: center;
	font-size: 20px;
	letter-spacing: 2.5px;
	margin-right: 30px;
	margin-bottom: 20px;
	top: -15px;
	color: #db0047;
}

a:link {
	color: #db0047;
	font-family: 'Barlow', sans-serif;
	font-weight: bold;
	font-size: 17px;
	text-decoration: none;
}

.about:visited {
	color: #db0047;
}
.about {
	grid-column: -1;
	grid-row: 3;
	text-align: right;
	margin-right: 50px;
	margin-bottom: 20px;
	color: #db0047;
	z-index: 1;
	position: relative;
	top: -10px;
}
.contact {
	grid-column: -1;
	grid-row: 4;
	text-align: right;
	margin-right: 50px;
	color: #e12c65;
	position: relative;
	top: -25px;
}
.contact:visited {
	color: #e12c65;
}

.image-text {
	position: absolute;
	height: auto;
	transform: rotate(90deg);
	opacity: 0;
	color: #f28531;
}
.cam {
	position: relative;
	top: -5px;
}
.box {
	position: absolute;
	left: 5px;
}

.box:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-28.svg');
}
.o:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-29.svg');
}
.cam:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-30.svg');
}
.arrow:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-31.svg');
}
.sheets:hover {
	cursor: pointer;

	content: url('../SVG/Lilis\ portfolio-icons[55]-32.svg');
}
.o-container:hover .image-text {
	animation: drop-down-o 0.3s ease-in forwards;
}
.cam-container:hover .image-text {
	animation: drop-down 0.3s ease-in forwards;
}
.arrow-container:hover .image-text {
	animation: drop-down 0.3s ease-in forwards;
}
.sheets-container:hover .image-text {
	animation: drop-down 0.3s ease-in forwards;
}
.box-container:hover .image-text {
	animation: drop-down 0.3s ease-in forwards;
}

.o-container:not(:hover) .image-text {
	animation: rise-up-o 0.3s ease-out forwards;
}
.cam-container:not(:hover) .image-text {
	animation: rise-up 0.3s ease-out forwards;
}
.arrow-container:not(:hover) .image-text {
	animation: rise-up 0.3s ease-out forwards;
}
.sheets-container:not(:hover) .image-text {
	animation: rise-up 0.3s ease-out forwards;
}
.box-container:not(:hover) .image-text {
	animation: rise-up 0.3s ease-out forwards;
}
@keyframes drop-down {
	0% {
		top: 100px;
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 113px;
		opacity: 1;
	}
}
@keyframes drop-down-o {
	0% {
		top: 100px;
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 105px;
		opacity: 1;
	}
}

@keyframes rise-up-o {
	0% {
		top: 105px;
		opacity: 1;
	}
	10% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		top: 100px;
		opacity: 0;
	}
}
@keyframes rise-up {
	0% {
		top: 110px;
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 100px;
		opacity: 0;
	}
}

.box-text {
	left: 10px;
}
.o-text {
	left: 70px;
}
.arrow-text {
	left: 182px;
}
.sheets-text {
	left: 250px;
}

/* change this text class and remove the image-text class from html to let the text stay and change the image in the html to the once colored orange */
.box-text {
	position: absolute;
	height: auto;
	transform: rotate(90deg);
	opacity: 1;
	color: #f28531;
	top: 110px;
}

.logo:hover {
	cursor: pointer;
}

footer {
	position: relative;
	bottom: 0px;
}
.footer {
	display: grid;
	justify-content: center;
	grid-template-columns: 6fr 6fr 1fr 1fr 1fr 6fr 6fr;
	grid-template-rows: 6rem 6rem;
	justify-items: center;
	align-items: center;
	width: auto;
}

.footer-text {
	position: relative;
	grid-column: 1/-1;
	grid-row: 1;
	color: #f28531;
	font-weight: 700;
	align-self: flex-end;
	bottom: -10px;
	border-bottom: 3px solid #f28531;
	padding-bottom: 3px;
	text-transform: lowercase;
}
.insta {
	position: relative;
	grid-row: 2;
	grid-column: 3;
	left: 40px;
	bottom: 0px;
	width: 110px;
	height: 110px;
}

.be {
	grid-row: 2;
	grid-column: 4;
	width: 110px;
	height: 110px;
}

.mail {
	position: relative;
	grid-row: 2;
	grid-column: 5;
	left: -40px;
	bottom: 0px;
	width: 110px;
	height: 110px;
}

.uppercase {
	text-transform: uppercase;
}

.dots {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #db0047;
	margin: 0 5px;
	grid-row: 1;
	grid-column: 1/-1;
	position: relative;
	align-self: flex-end;
	bottom: -2px;
	text-transform: lowercase;
}

.left-dot {
	left: -80px;
}

.right-dot {
	left: 80px;
}
/*  The above css is the template for all pages on this website */

/* Big container is a flexbox */

.container1 {
	display: flex;
	gap: 300px;
	margin-left: 100px;
	height: 100px;
}

/* first div */
.circle {
	width: 350px;
	height: 350px;
	border-radius: 50%;
	border: 2px solid #db0047;
}

.image1 {
	border: 2px solid #db0047;
	width: 350px;
	height: 350px;
	position: relative;
	left: 150px;
	top: -350px;
	/* display: none; */
}
.animation-conatiner1 {
	width: 475px;
	height: 350px;
}
.animation-conatiner2 {
	width: 475px;
	height: 350px;
}

.animation-conatiner1:hover {
	cursor: pointer;
}
.animation-conatiner2:hover {
	cursor: pointer;
}
@keyframes move-circle-left {
	0% {
		transform: translateX(35%);
		background-color: #db0047;
	}
	33% {
		transform: translateX(25%);
	}
	66% {
		transform: translateX(15%);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes move-circle-right {
	0% {
		transform: translateX(0%);
	}
	33% {
		transform: translateX(15%);
	}
	66% {
		transform: translateX(25%);
	}
	100% {
		transform: translateX(45%);
		background-color: #db0047;
	}
}

@keyframes move-image-right {
	0% {
		transform: translateX(-35%);
	}
	33% {
		transform: translateX(-25%);
	}
	66% {
		transform: translateX(-15%);
	}
	100% {
		transform: translateX(-0%);
	}
}

@keyframes move-image-left {
	0% {
		transform: translateX(-0%);
	}
	33% {
		transform: translateX(-15%);
	}
	66% {
		transform: translateX(-25%);
	}
	100% {
		transform: translateX(-35%);
	}
}
/* Circles animation */
.animation-conatiner1:hover .circle {
	animation: move-circle-right 0.16s ease forwards;
}

.animation-conatiner2:hover .circle {
	animation: move-circle-right 0.16s ease forwards;
}

.animation-conatiner1:not(:hover) .circle {
	animation: move-circle-left 0.16s ease forwards;
}

.animation-conatiner2:not(:hover) .circle {
	animation: move-circle-left 0.16s ease forwards;
}

/* Images animations */
.animation-conatiner1:hover .image1 {
	animation: move-image-left 0.16s ease forwards;
}

.animation-conatiner2:hover .image1 {
	animation: move-image-left 0.16s ease forwards;
}

.animation-conatiner1:not(:hover) .image1 {
	animation: move-image-right 0.16s ease forwards;
}

.animation-conatiner2:not(:hover) .image1 {
	animation: move-image-right 0.16s ease forwards;
}

/* Animated Text */

.animated-text {
	position: relative;
	left: 50%;
	top: 90%;
	opacity: 0;
}

@keyframes text-down {
	0% {
		transform: translateX(0) translateY(0);
		opacity: 0;
	}
	33% {
		transform: translateX(-10%) translateY(-84%);
		opacity: 0;
	}
	66% {
		transform: translateX(-25%) translateY(-168%);
		opacity: 0;
	}
	100% {
		transform: translateX(-35%) translateY(250%);
		opacity: 1;
	}
}
@keyframes text-up {
	0% {
		transform: translateX(-45%) translateY(250%);
		opacity: 1;
	}
	33% {
		transform: translateX(10%) translateY(-168%);
		opacity: 0;
	}
	66% {
		transform: translateX(15%) translateY(-84%);
		opacity: 0;
	}
	100% {
		transform: translateX(20%) translateY(0);
		opacity: 0;
	}
}

.animation-conatiner1:hover .circle .animated-text {
	animation: text-down 0.18s ease-in forwards;
}

.animation-conatiner1:not(:hover) .circle .animated-text {
	animation: text-up 0.18s ease-in forwards;
}

@keyframes text-down1 {
	0% {
		transform: translateX(0) translateY(0);
		opacity: 0;
	}
	33% {
		transform: translateX(-10%) translateY(-84%);
		opacity: 0;
	}
	66% {
		transform: translateX(-25%) translateY(-168%);
		opacity: 0;
	}
	100% {
		transform: translateX(-50%) translateY(250%);
		opacity: 1;
	}
}
@keyframes text-up1 {
	0% {
		transform: translateX(-60%) translateY(250%);
		opacity: 1;
	}
	33% {
		transform: translateX(10%) translateY(-168%);
		opacity: 0;
	}
	66% {
		transform: translateX(15%) translateY(-84%);
		opacity: 0;
	}
	100% {
		transform: translateX(20%) translateY(0);
		opacity: 0;
	}
}
.animation-conatiner2:hover .circle .animated-text {
	animation: text-down1 0.18s ease-in forwards;
}

.animation-conatiner2:not(:hover) .circle .animated-text {
	animation: text-up1 0.18s ease-in forwards;
}
